{{ form_start(form, { 'attr': {'class': 'form-prise-contact'}, 'action': path('crm_prise_contact_ajouter', { 'id': contact.id, 'screen' : screen })}) }}
	<div class="row">
		<div class="col-md-6">
			{{ form_errors(form) }}
			{{ form_row(form.type) }}
			
		</div>
		<div class="col-md-6">
			{{ form_row(form.date) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.description) }}
		</div>
	</div>
	
    <input type="submit" value="Enregistrer" class="btn btn-success" />
    {{ form_end(form) }}
    
<script type="text/javascript">
$(function(){
	$(".dateInput").datepicker({
		dateFormat: 'dd/mm/yy',
		firstDay:1
	});
});
		JqueryValidateFormName = $('form[name="{{ form.vars.id }}"]');
	</script>
	
	<script src="{{ asset('js/error.js') }}"></script>
	<style>
		#ui-datepicker-div {
			z-index: 9999999999999999999999 !important;
		}
	</style>
