<div class="modal-content">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Importation de contacts mapping </h3>
	</div>
	<div class="modal-body">
	{{ form_start(form,  { 'action': path('crm_contact_importer_mapping'), 'attr': {'data-async': '', 'data-target' : '#modal' } }) }}
	{{ form_errors(form) }}
	<div class="row">
		<div class="col-md-12">
			<p>Faites correspondre les colonnes de {% if index > 1 %} vos fichiers {% else %} votre fichier {% endif %} aux données à importer.</p>
		</div>
	{% for i in 0..index %}
		<hr />	
		<div class="form-group col-md-12">
			Fichier : {{ form_label(form['filepath' ~ i]) }}
		</div>
		<hr />

		<div class="container">
			<div class="row">
				<div class="form-group col-md-3">
					{{ form_label(form['dateFormat' ~ i]) }} *<br />
					{{ form_errors(form['dateFormat' ~ i]) }}
					{{ form_widget(form['dateFormat' ~ i]) }}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					{{ form_label(form['compte' ~ i]) }} *<br />
					{{ form_errors(form['compte' ~ i]) }}
					{{ form_widget(form['compte' ~ i]) }}
				</div>
				<div class="form-group col-md-3">
					{{ form_label(form['secteurActivite' ~ i]) }} *<br />
					{{ form_errors(form['secteurActivite' ~ i]) }}
					{{ form_widget(form['secteurActivite' ~ i]) }}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					{{ form_label(form['nom' ~ i]) }} *<br />
					{{ form_errors(form['nom' ~ i]) }}
					{{ form_widget(form['nom' ~ i]) }}
				</div>
				<div class="form-group col-md-3">
					{{ form_label(form['prenom' ~ i]) }} *<br />
					{{ form_errors(form['prenom' ~ i]) }}
					{{ form_widget(form['prenom' ~ i]) }}
				</div>
				<div class="form-group col-md-3">
					{{ form_label(form['titre' ~ i]) }}<br />
					{{ form_errors(form['titre' ~ i]) }}
					{{ form_widget(form['titre' ~ i]) }}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					{{ form_label(form['email' ~ i]) }} *<br />
					{{ form_errors(form['email' ~ i]) }}
					{{ form_widget(form['email' ~ i]) }}
				</div>
				<div class="form-group col-md-3">
					{{ form_label(form['email2' ~ i]) }}<br />
					{{ form_errors(form['email2' ~ i]) }}
					{{ form_widget(form['email2' ~ i]) }}
				</div>
				<div class="form-group col-md-3">
					{{ form_label(form['telephoneFixe' ~ i]) }}<br />
					{{ form_errors(form['telephoneFixe' ~ i]) }}
					{{ form_widget(form['telephoneFixe' ~ i]) }}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					{{ form_label(form['telephonePortable' ~ i]) }}<br />
					{{ form_errors(form['telephonePortable' ~ i]) }}
					{{ form_widget(form['telephonePortable' ~ i]) }}
				</div>
				<div class="form-group col-md-3">
					{{ form_label(form['telephoneAutres' ~ i]) }}<br />
					{{ form_errors(form['telephoneAutres' ~ i]) }}
					{{ form_widget(form['telephoneAutres' ~ i]) }}
				</div>

				<div class="form-group col-md-3">
					{{ form_label(form['fax' ~ i]) }}<br />
					{{ form_errors(form['fax' ~ i]) }}
					{{ form_widget(form['fax' ~ i]) }}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					{{ form_label(form['adresse' ~ i]) }}<br />
					{{ form_errors(form['adresse' ~ i]) }}
					{{ form_widget(form['adresse' ~ i]) }}
				</div>
				<div class="form-group col-md-3">
					{{ form_label(form['codePostal' ~ i]) }}<br />
					{{ form_errors(form['codePostal' ~ i]) }}
					{{ form_widget(form['codePostal' ~ i]) }}
				</div>
				<div class="form-group col-md-3">
					{{ form_label(form['ville' ~ i]) }}<br />
					{{ form_errors(form['ville' ~ i]) }}
					{{ form_widget(form['ville' ~ i]) }}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					{{ form_label(form['region' ~ i]) }}<br />
					{{ form_errors(form['region' ~ i]) }}
					{{ form_widget(form['region' ~ i]) }}
				</div>
				<div class="form-group col-md-3">
					{{ form_label(form['pays' ~ i]) }} *<br />
					{{ form_errors(form['pays' ~ i]) }}
					{{ form_widget(form['pays' ~ i]) }}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					{{ form_label(form['origine' ~ i]) }}<br />
					{{ form_errors(form['origine' ~ i]) }}
					{{ form_widget(form['origine' ~ i]) }}
				</div>
				<div class="form-group col-md-3">
					{{ form_label(form['reseau' ~ i]) }}<br />
					{{ form_errors(form['reseau' ~ i]) }}
					{{ form_widget(form['reseau' ~ i]) }}
				</div>
				<div class="form-group col-md-3">
					{{ form_label(form['themeInteret' ~ i]) }}<br />
					{{ form_errors(form['themeInteret' ~ i]) }}
					{{ form_widget(form['themeInteret' ~ i]) }}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					{{ form_label(form['serviceInteret' ~ i]) }}<br />
					{{ form_errors(form['serviceInteret' ~ i]) }}
					{{ form_widget(form['serviceInteret' ~ i]) }}
				</div>
				<div class="form-group col-md-3">
					{{ form_label(form['carteVoeux' ~ i]) }}<br />
					{{ form_errors(form['carteVoeux' ~ i]) }}
					{{ form_widget(form['carteVoeux' ~ i]) }}
				</div>

				<div class="form-group col-md-3">
					{{ form_label(form['newsletter' ~ i]) }}<br />
					{{ form_errors(form['newsletter' ~ i]) }}
					{{ form_widget(form['newsletter' ~ i]) }}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					{{ form_label(form['description' ~ i]) }}<br />
					{{ form_errors(form['description' ~ i]) }}
					{{ form_widget(form['description' ~ i]) }}
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-12">
			{{ form_widget(form.submit) }} 
		</div>
	</div>
	{{ form_end(form) }}

	</div>
</div>
