<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<style>
	.label-header{
		display:block;
		text-align: center;
		padding: 20px 0; 
	}
	.radio{
		float: left;
		width:50%;
		margin-top:0 !important;
	}
</style>
<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>Fusionner : "{{ first_contact.nom }} {{ first_contact.prenom }}" avec "{{ second_contact.nom }} {{ second_contact.prenom }}"</h3>
</div>
<div class="modal-body">
	<div class="center">
		
	</div>






	 {{ form_start(form, { 'attr': {'class': 'contact_fusionner_modal', 'data-async': '', 'data-target' : '#modal' } }) }}
	<div class="row">
		
		<div class="col-md-12">
			{{ form_errors(form) }}
			   {% for child in form %}
			   {% if (child.vars.name != '_token') and (child.vars.name != 'second_contact_id') %}
				 {{ form_label(child, null, {'label_attr': {'class': 'label-header'}} ) }}
				{% endif %}
				  {{ form_widget(child) }}  
				 <div style="clear:both"></div>
			   {% endfor %}
		</div>
	</div>
	<div class="row">   
		<div class="col-md-12">
				<input type="submit" value="Fusionner les contacts" class="btn btn-success" id="must_confirm" />
		</div>
	</div>
	{{ form_rest(form) }}











</div>
	<style>
		ul.ui-autocomplete {
			z-index: 9999999999999999999999;
		}
	</style>
	<script type="text/javascript">

	
		$(document).ready( function () {   
			
			$('#modal').unbind('submit');
			$('#modal').on('submit','form[data-async]', function(event) {

			// ouverture de modal de confirmation
			
			$("#ModalFusionConfirmation").modal('show');
			$('#SubForm').click(function () {
				$(this).submit();
			});

				return false;

			console.log('here hich');
				var $form = $(this);
				var target = $form.attr('data-target');

				$.ajax({
					type: $form.attr('method'),
					url: $form.attr('action'),
					data: $form.serialize(),

					success: function(data, status) {
						$.each(target.split("|"),function(i,val){
							if(val == "close"){
								$form.closest(".modal").modal("hide");
							}else if(val == "event"){
								$form.trigger("ajax-submit");
							}else{
								console.log('zzk');
								$(val+' div:first-child div:first-child').html(data);
								$('select').select2();
							}
						});
					}
				});
				return false;
				event.preventDefault();
			});
			
		});
	</script>
