<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>Envoyer un message</h3>
</div>
<div class="modal-body">

	<div class="center">
		<p>Le message sera envoyé à <strong>{{ contact }}</strong> ({{ contact.email }}).</p>
 			{{ form(form, {'action': path('crm_contact_ecrire', {'id' : contact.id })} ) }}
		<p id="loading-message" class="hidden">
			<i>Votre message est en cours d'envoi. Pour patienter, voici un petit chat qui danse :</i><br />
			<img src="{{ asset('images/assets/cat_loader.gif') }}" alt="Patientez..." />
		</p>
	</div>
</div>



<script type="text/javascript">

	tinymce.init({
		selector: '.tinymce',
		theme : "simple",
		content_css : "{{ asset('css/tinymce_content.css') }}",
		 setup : function(ed) {
	          ed.onChange.add(function(ed, l) {
	                  $('.tinymce').val(l.content);
	          });
	   }
			
	});
	
	$(document).ready( function () { 

		$('form').submit(function(){
			$('input').attr('readonly', true);
			$('textarea').attr('readonly', true);
			$('#form_submit').addClass("hidden");
			$("#loading-message").removeClass("hidden");
		});
	});
</script>