 {{ form_start(form) }}
<div class="row">

	<div class="col-md-3">
		{{ form_row(form.user) }}
	</div>
	<div class="col-md-3">
		 <div class="typeahead-container">
	        <div class="typeahead-field">
	        	<span class="typeahead-query">
							{{ form_row(form.contact_name, {'attr' : {'class' : 'typeahead-contact'}}) }}
							{{ form_row(form.contact) }}
						</span>
	        </div>
	    </div>
	</div>
	<div class="col-md-3">
		{{ form_row(form.delaiNum) }}
	</div>
	<div class="col-md-3">
		{{ form_row(form.delaiUnit) }}
	</div>
</div>

<div class="row">
    <div class="col-md-12">
	   	 	<input type="submit" value="Enregistrer" class="btn btn-success" />
	    </div>
    </div>
</div>
{{ form_end(form) }}

{% block javascripts %}
	<script type="text/javascript">
	$(document).ready( function () {
		$('.typeahead-contact').typeahead({
		    order: "desc",
		    source: {
		        url: "/web/app_dev.php/crm/contact/get-contacts-impulsion"
		    },
		    callback: {
		        onInit: function (node) {
		            console.log('Typeahead Initiated on ' + node.selector);
		        },
		        onClickAfter: function (node, a, item, event) {
		        	console.log('Typeahead Click on ' + node.selector);
							$('.entity-contact').val(item.id);
          }
		    },
		    debug: true

		});
	});
		JqueryValidateFormName = $('form[name="{{ form.vars.id }}"]');
	</script>

	<script src="{{ asset('js/error.js') }}"></script>
{% endblock %}
