<h1>Créer un compte</h1>
<form action="{{ path("fos_user_registration_register") }}" {{ form_enctype(form) }}  method="POST" class="fos_user_registration_register">
   
	{{ form_errors(form) }}
   
   <div class="form-group">
	   	{{ form_label(form.firstname) }}<br />
	    {{ form_errors(form.firstname) }}
	    {{ form_widget(form.firstname) }}
	</div>
	
	<div class="form-group">
	   	{{ form_label(form.lastname) }}<br />
	    {{ form_errors(form.lastname) }}
	    {{ form_widget(form.lastname) }}
	</div>
	
	<div class="form-group">
	   	{{ form_label(form.email) }}<br />
	    {{ form_errors(form.email) }}
	    {{ form_widget(form.email) }}
	</div>
	
	<div class="form-group">
	   	{{ form_label(form.plainPassword) }}<br />
	    {{ form_errors(form.plainPassword) }}
	    {{ form_widget(form.plainPassword) }}
	</div>

	<div class="form-group">
    	<input type="submit" id="_submit" name="_submit" value="Créer" class="btn btn-success"/>
	</div>
	
	{{ form_end(form) }}
</form>