{% extends 'emailing/emailing_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Listes de contacts :  </h1>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		    <p>
		    	<a href="{{ path('emailing_rapport_ajouter', {'type' : type}) }}" class="btn btn-success">
		    		<span class="glyphicon glyphicon-plus"></span> Ajouter
		    	</a>
		    </p>
	    </div>
    </div>
	   <div class="row">
	    	<div class="col-md-12">
	    	<div class="col-md-12" class="filtre">
			    <p class="filtre">
			    	<a class="btn {% if user == 'mine' %} green {% endif %}" href="{{ path('emailing_rapport_liste', {'type' : type , 'user' : 'mine'} ) }}" >
			    		Voir uniquement mes listes
			    	</a>
			    	<a class="btn {% if user != 'mine' %} green {% endif %}" href="{{ path('emailing_rapport_liste', {'type' : type} ) }}">
			    		Voir toutes les listes
			    	</a>		   
			    </p>
		    </div>
			    <table id="table_compte_rapport_list" class="table table-bordered table-striped">    
			    	<thead>        
			    		<tr>            
			    			<th>Nom</th>            
			    			<th>Description</th>  
			    			<th>Créé le</th>  
			    			<th>Créé par</th> 
			    			<th>Actions</th>         
			    		</tr>    
			    	</thead>    
			    	<tbody>
			    		{% for rapport in list %}        
			    		<tr>            
			    			<td>
			    				<a href="{{ path('emailing_rapport_voir', {'id' : rapport.id } ) }}">{{ rapport.nom }}</a>
			    			</td>            
			    			<td>
			    				{{ rapport.description|raw }}
			    			</td> 
			    			<td>
			    				{{ rapport.dateCreation|date("d/m/Y") }}
			    			</td>
			    			<td>
			    				{{ rapport.userCreation }}
			    			</td>
			    			<td>
			    				<a href="{{ path('emailing_rapport_voir', {'id' : rapport.id } ) }}" class="btn btn-xs btn-info" ​data-toggle="tooltip-btn-xs" title="Voir">
			    					<span class="glyphicon glyphicon-eye-open"></span>
			    				</a>
			    				<a href="{{ path('emailing_rapport_editer', {'id' : rapport.id } ) }}" class="btn btn-xs btn-warning" ​data-toggle="tooltip-btn-xs" title="Editer">
			    					<span class="glyphicon glyphicon-pencil"></span>
			    				</a>
			    				<a href="{{ path('emailing_rapport_supprimer', {'id' : rapport.id} ) }}" class="btn btn-xs btn-danger" ​data-toggle="tooltip-btn-xs" title="Supprimer">
			    					<span class="glyphicon glyphicon-trash"></span>
			    				</a>
			    			</td>        
			    		</tr>        
			    		{% endfor %} 
			    	</tbody>
			    </table>
			</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready( function () {    
			$('#table_compte_rapport_list').DataTable({
				"language" : {                
					"url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/French.json"            
				},
				fnDrawCallback: function () {
				  $( 'a', this.fnGetNodes() ).tooltip( {
					"delay": 0,
					"track": true,
					"fade": 250,
					"tooltipClass": 'btn btn-default',
				  } );
				},
                fnInitComplete: function () {
				  $( 'a', this.fnGetNodes() ).tooltip( {
					"delay": 0,
					"track": true,
					"fade": 250,
					"tooltipClass": 'btn btn-default',
				  } );
				},
				"responsive": true
			});

		});
	</script>
{% endblock %}
