{% extends 'compta/compta_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Documents comptables</h1>
		</div>
	</div>

	<div class="row">
			<div class="col-md-12">
					{% include 'compta/rapport/compta_rapport_submenu.html.twig' %}
			</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h2>Grand livre</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p>
				<a class="btn btn-primary btn-export-excel" href="#">
					<span class="glyphicon glyphicon-floppy-disk"></span> Exporter
				</a>
			</p>
		</div>
	</div>

	<div class="row well">
		{{ form_start(form) }}
		<div class="col-md-2">
				{{ form_row(form.start) }}
		</div>
		<div class="col-md-2">
				{{ form_row(form.end) }}
		</div>
		<div class="col-md-2">
				{{ form_row(form.submit) }}
		</div>
		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>

	<div class="row">
		<table class="table table-bordered" id="table-grand-livre">
			<thead>
				<tr>
					<th class="col-md-1">Date</th>
					<th class="col-md-1">Journal</th>
					<th class="col-md-2">N° pièce</th>
					<th class="col-md-3">Libellé</th>
					<th class="col-md-2">Débit</th>
					<th class="col-md-2">Crédit</th>
					<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody id="wrapper-ajax">
			</tbody>
		</table>
		<p class="center" id="loader">
			<img src="{{ asset('images/assets/dog_loader.gif') }}" alt="Chargement en cours" /><br />
			<i>Chargement en cours...</i>
		</p>
	</div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
  <script src="{{ asset('js/moment.js') }}"></script>
	<script type="text/javascript">
		$(document).ready( function () {

			loadTable();

			$('form').submit(function(e){
					e.preventDefault();
					loadTable();
			});

			function loadTable(){

				$("#loader").removeClass("hidden");
				$("#wrapper-ajax").html("");

				var startDate = moment($(".start-date").val(), 'DD/MM/YYYY').format('YYYYMMDD');
				var endDate = moment($(".end-date").val(), 'DD/MM/YYYY').format('YYYYMMDD');

				$('.btn-export-excel').attr('disabled', true);

				$.ajax({
					type: "GET",
					url: Routing.generate('compta_rapport_grand_livre_voir_periode', {'startDate' : startDate, 'endDate' : endDate}),
					success: function(data) {
						$("#loader").addClass("hidden");
						$("#wrapper-ajax").html(data);
					},
					error: function(jqXHR, textStatus, errorThrown) {
						$("#loader").addClass("hidden");
						console.log(jqXHR.status);
						console.log(textStatus);
						console.log(errorThrown);
					},
				});

				var url = Routing.generate('compta_rapport_grand_livre_exporter_periode', {'startDate' : startDate, 'endDate' : endDate});
				$('.btn-export-excel').attr('href', url)
															.removeAttr('disabled');

			}

		});
	</script>
{% endblock %}
