{% for arr_periode in arr_tva %}
	<tr class="thick-border-top">
		<td rowspan="2"><strong>{{ arr_periode.mois }}/{{ arr_periode.annee }}</strong></td>
		<td class="thick-border-left">Soumis à TVA</td>
		<td class="align-right">{{ arr_periode.entree_soumis.entreeTTC|number_format(2,',',' ') }} €</td>
		<td class="align-right">{{ arr_periode.entree_soumis.entreeHT|number_format(2,',',' ') }} €</td>
		<td class="align-right">
			{{ arr_periode.entree_soumis.entreeTVA|number_format(2,',',' ') }} €<br />
			{% if arr_periode.entree_soumis.taxe_percent.55 != 0 %}<i>5,5% : {{ arr_periode.entree_soumis.taxe_percent.55|number_format(2,',',' ') }} €</i><br />{% endif %}
			{% if arr_periode.entree_soumis.taxe_percent.100 != 0 %}<i>10% : {{ arr_periode.entree_soumis.taxe_percent.100|number_format(2,',',' ') }} €</i><br />{% endif %}
			{% if arr_periode.entree_soumis.taxe_percent.200 != 0 %}<i>20% : {{ arr_periode.entree_soumis.taxe_percent.200|number_format(2,',',' ') }} €</i>{% endif %}<br />
			{% if arr_periode.entree_soumis.taxe_percent.other != 0 %}<i>Autre : {{ arr_periode.entree_soumis.taxe_percent.other|number_format(2,',',' ') }} €</i>{% endif %}
		</td>
		<td class="thick-border-left">Soumis à TVA</td>
		<td class="align-right">{{ arr_periode.sortie_soumis.sortieTTC|number_format(2,',',' ') }} €</td>
		<td class="align-right">{{ arr_periode.sortie_soumis.sortieHT|number_format(2,',',' ') }} €</td>
		<td class="align-right">{{ arr_periode.sortie_soumis.sortieTVA|number_format(2,',',' ') }} €</td>
		<td class="align-right thick-border-left{% if arr_periode.balance < 0 %} red {% else %} green{% endif %}" rowspan="2">{{ arr_periode.balance|number_format(2,',',' ') }} €</td>
		{% if loop.index0%6 == 0 %}
			<td rowspan="6"></td>
		{% endif %}
	</tr>
	<tr>
		<td class="thick-border-left">Non soumis à TVA</td>
		<td class="align-right">{{ arr_periode.entree_non_soumis.entreePrixNet|number_format(2,',',' ') }} €</td>
		<td class="align-right">{{ arr_periode.entree_non_soumis.entreePrixNet|number_format(2,',',' ') }} €</td>
		<td class="align-right">-</td>
		<td class="thick-border-left">Non soumis à TVA</td>
		<td class="align-right">{{ arr_periode.sortie_non_soumis.sortiePrixNet|number_format(2,',',' ') }} €</td>
		<td class="align-right">{{ arr_periode.sortie_non_soumis.sortiePrixNet|number_format(2,',',' ') }} €</td>
		<td class="align-right">-</td>
	</tr>
{% endfor %}
