{% for arr in arr_grand_livre %}
	<tr>
		<th colspan="6">
			{{ arr.cc }}
		</th>
	</tr>
	{% for ligne in arr.lignes %}
		<tr>
			<!-- date -->
			<td>
				 {{ ligne.date|date('d/m/Y') }}
			</td>

			<!-- code journal -->
			<td>
				{{ ligne.codeJournal }}
			</td>

			<!-- piece -->
			<td>
				{{ ligne.piece }}
			</td>

			<!-- libelle -->
			<td>
				{{ ligne.libelle }}
			</td>

			<!-- debit -->
			<td class="align-right">
				{% if ligne.debit %}
					{{ ligne.debit|number_format(2, ',', ' ') }}
				{% endif %}
			</td>

			<!-- credit -->
			<td class="align-right">
				{% if ligne.credit %}
					{{ ligne.credit|number_format(2, ',', ' ') }}
				{% endif %}
			</td>

			<td>
				<a href="{{ path('compta_compte-comptable_corriger', {
					'id' : ligne.id,
					'codeJournal' : ligne.codeJournal,
					'redirectRoute' : 'compta_rapport_grand_livre_index' }) }}"
					class="btn btn-xs btn-info" data-toggle="modal" data-target="#modal">
						Corriger
				</a>
			</td>
		</tr>
	{% endfor %}
{% endfor %}
