{% block submenu %}
    <ul class="nav nav-tabs">
      <li {% if app.request.pathInfo == "/compta/rapport/tva"  %} class="active" {% endif %}>
        <a href="{{ path('compta_rapport_tva_index') }}" >TVA</a>
      </li>
      <li {% if app.request.pathInfo == "/compta/rapport/tableau-tresorerie"  %} class="active" {% endif %}>
          <a href="{{ path('compta_rapport_tableau_tresorerie_index') }}">Tableau de trésorerie</a>
      </li>
      <li {% if app.request.pathInfo == "/compta/rapport/tableau-bord"  %} class="active" {% endif %}>
          <a href="{{ path('compta_rapport_tableau_bord_index') }}">Tableau de bord</a>
      </li>
      <li {% if app.request.pathInfo == "/compta/rapport/balance/generale"  %} class="active" {% endif %}>
          <a href="{{ path('compta_rapport_balance_generale_index') }}">Balance générale</a>
      </li>
      <li {% if app.request.pathInfo == "/compta/rapport/grand-livre"  %} class="active" {% endif %}>
          <a href="{{ path('compta_rapport_grand_livre_index') }}">Grand livre</a>
      </li>
    </ul>
{% endblock %}
