{{ form_widget(form.andor) }}
{{ form_widget(form.champ) }}
{{ form_widget(form.action) }}
{{ form_widget(form.valeur) }}
{{ form_widget(form.endGroup) }}

<a href="#" class="btn btn-xs btn-danger btn-remove-filter"><span class="glyphicon glyphicon-minus"></span></a>
<a href="#" class="btn btn-xs btn-warning btn-rapport-add-separateur">Ajouter un séparateur</a>

{% if form.vars.value is not null %}
	{% if form.vars.value.endGroup == true %}
		<hr />
	{% endif %}
{% endif %}