{% extends 'compta/compta_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Importer l'historique des dépenses</h1>	
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		 	{{ form_start(form, {'action': path('compta_depense_importer_historique', {'etape' : 1})}) }}
		
			{{ form_errors(form) }}
		</div>
	</div>	
	<div class="row">
		<div class="col-md-4">		
			<div class="form-group">
			   	{{ form_label(form.dateFormat) }}<br />
			    {{ form_errors(form.dateFormat) }}
			    {{ form_widget(form.dateFormat) }}  
			</div>
			<div class="form-group">
			   	{{ form_label(form.file) }}<br />
			    {{ form_errors(form.file) }}
			    {{ form_widget(form.file) }}  
			     <i>Format accepté : .csv</i>
			</div>

			 <div class="form-group">
			 	<a class="btn" href="{{ path('compta_depense_liste') }}">
		       		<span class="glyphicon glyphicon-chevron-left"></span>Annuler
		   		 </a>
			    {{ form_widget(form.submit) }}  
			</div>
		
			{{ form_rest(form) }}
			{{ form_end(form) }}
		</div>
		<div class="col-md-8"></div>
	</div>

{% endblock %}