<div class="produit-collection">
	<hr />
	<table>
		<thead>
				<th class="produit-input-nom">{{ form_label(form.nom) }}</td>
				<th class="produit-input-number">{{ form_label(form.compteComptable) }}</td>
				<th class="produit-input-number">{{ form_label(form.montant) }}</td>
				<th class="produit-input-number">{{ form_label(form.taxe) }}</td>
				<th class="produit-input-number">{{ form_label(form.totalTTC) }}</td>
				<th class="produit-input-button">&nbsp;</td>
		</thead>
		<tbody>
			<tr>
				<td class="produit-input-nom">{{ form_widget(form.nom) }}</td>
				<td class="produit-input-nom">{{ form_widget(form.compteComptable) }}</td>
				<td class="produit-input-number">{{ form_widget(form.montant) }}</td>
				<td class="produit-input-number">{{ form_widget(form.taxe) }}</td>
				<td class="produit-input-number">{{ form_widget(form.totalTTC) }}</td>
				<td class="produit-input-button"><a href="#" class="btn btn-xs btn-danger remove-button"><span class="glyphicon glyphicon-minus"></span></a></td>
			</tr>
		</tbody>
	</table>
</div>
