{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<h1>Campagne de prospection : {{ prospection.nom }}</h1>
		<h2>Importer des contacts</h2>	
	</div>
</div>
<div id="uploader">
	<p>Malheureusement, vous ne pouvez pas utiliser cette fonctionnalité parce que votre navigateur web est trop ancien.</p>
</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/jquery.ui.plupload.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/plupload.full.min.js') }}" charset="UTF-8"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.ui.plupload.min.js') }}" charset="UTF-8"></script>
	<script type="text/javascript" src="{{ asset('js/fr.js') }}"></script>
	<script type="text/javascript">
		// Initialize the widget when the DOM is ready
		$(document).ready( function () {    
			$('div#modal div.modal-dialog').css('width', '80%');

			$('#modal').on('submit','form[data-async]', function(event) {
				var $form = $(this);
				var target = $form.attr('data-target');
				$form.find('button[type="submit"]').attr('disabled', true).addClass('blink_me').html('Importation en cours...');
				$.ajax({
					type: $form.attr('method'),
					url: $form.attr('action'),
					data: $form.serialize(),

					success: function(data, status) {
						$.each(target.split("|"),function(i,val){
							if(val == "close"){
								$form.closest(".modal").modal("hide");
							}else if(val == "event"){
								$form.trigger("ajax-submit");
							}else{
								console.log('zzk1');
								
								//$('#modal div.modal-dialog div.modal-body').html(data);
								if( data == 1 )
								{
									$("#modal").modal('hide');
									$("#ModalAlert").modal('show');
								}
								else $('#modal div.modal-dialog').html(data);
							}
						});
					},
					error: function(jqXHR, textStatus, errorThrown) {
						console.log(jqXHR.status);
						console.log(textStatus);
						console.log(errorThrown);
						$form.find('button[type="submit"]').attr('disabled', false).removeClass('blink_me').html('Importer');
					}
				});
				return false;
				event.preventDefault();
			});
			
			$("#uploader").plupload({
				// General settings
				runtimes : 'html5,flash,silverlight,html4',
			//	url : "/examples/upload",
				url : "{{ path('crm_prospection_importer_upload', {'id': prospection.id}) }}",

				// Maximum file size
				max_file_size : '2mb',

				chunk_size: '1mb',

				// Resize images on clientside if we can
				resize : {
					width : 200, 
					height : 200, 
					quality : 90,
					crop: true // crop to exact dimensions
				},

				// Specify what files to browse for 
				filters : [
					{title : "Fichiers excels", extensions : "xls,xlsx"},
					{title : "Fichers csv", extensions : "csv"}
				/*	{title : "Image files", extensions : "jpg,gif,png"},
					{title : "Zip files", extensions : "zip,avi"}*/
				],

				// Rename files by clicking on their titles
				rename: true,
				
				// Sort files
				sortable: true,

				// Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
				dragdrop: true,

				// Views to activate
				views: {
					list: true,
					thumbs: true, // Show thumbs
					active: 'thumbs'
				},

				init: {
					UploadComplete: function() {
						$('#modal div.modal-dialog').load('{{ path('crm_prospection_importer_mapping', {'id': prospection.id}) }}');
						$('#modal').modal('show');
						$('a#uploader_stop').after('<a id="linkMapping" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary blink_me" href="{{ path('crm_prospection_importer_mapping', {'id': prospection.id}) }}" data-toggle="modal" data-target="#modal"><span class="ui-button-icon-primary ui-icon 	ui-icon-info"></span><span class="ui-button-text">Rouvrir le mapper</span></a>');
						//$('a#linkMapping').show();
						//$('a#linkMapping').addClass('blink_me');
						//alert('transfert terminé');
					},
					FileUploaded: function(up, file, info) {
						console.log(up);
						console.log(file);
						console.log(info);
					},
				},
				// Flash settings
				flash_swf_url : '{{ asset('js/Moxie.swf') }}',
			
				// Silverlight settings
				silverlight_xap_url : '{{ asset('js/Moxie.xap') }}'
			});
		});
	</script>
{% endblock %}
{% block additionalModals %}
	<div id="ModalAlert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalAlert" aria-hidden="true" data-focus-on="input:first">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h1>Vos contacts ont bien été importés !</h1>
				</div>
				<div class="modal-footer">
					<a class="btn-success btn" href="{{ path('crm_prospection_gerer_liste', {'id' : prospection.id}) }}">Continuer</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
