<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>Envoyer un message</h3>
</div>
<div class="modal-body">

	<div class="center">
		<p id="msg_info"></p>
 			{{ form(form, {'action': path('crm_prospection_ecrire')} ) }}
		<p id="loading-message" class="hidden">
			<i>Votre message est en cours d'envoi. Pour patienter, voici un petit chat qui danse :</i><br />
			<img src="{{ asset('images/assets/cat_loader.gif') }}" alt="Patientez..." />
		</p>
	</div>
</div>



<script type="text/javascript">

	tinymce.init({
		selector: '.tinymce',
		theme : "simple",
		content_css : "{{ asset('css/tinymce_content.css') }}",
		 setup : function(ed) {
	          ed.onChange.add(function(ed, l) {
	                  $('.tinymce').val(l.content);
	          });
	   }
			
	});
	
	$(document).ready( function () { 
		var indexData = $('#phoning-tentative a').attr('data-prototype');
		$('#msg_info').html('Le message sera envoyé à <strong>'+data[indexData].nom+' '+data[indexData].prenom+'</strong> ('+data[indexData].email+').');
		$('#{{ form.data.vars.id }}').val(JSON.stringify(data[indexData]));
		$('form').submit(function(){
			$('form input').attr('readonly', true);
			$('form textarea').attr('readonly', true);
			tinyMCE.get('{{ form.message.vars.id }}').getBody().setAttribute('contenteditable', false);
			var $form = $(this);
			var target = $form.attr('data-target');

			$.ajax({
				type: $form.attr('method'),
				url: $form.attr('action'),
				data: $form.serialize(),

				success: function(d, status) {
					var indexData = $('#phoning-tentative a').attr('data-prototype');
					$('form input').attr('readonly', false);
					$('form textarea').attr('readonly', false);
					tinyMCE.get('{{ form.message.vars.id }}').getBody().setAttribute('contenteditable', true);
					if( d.success )
						$('#msg_info').html('<div class="alert alert-success">Email envoyé avec succès à <strong>'+data[indexData].nom+' '+data[indexData].prenom+'</strong> ('+data[indexData].email+').</div>');
					else
						$('#msg_info').html('<div class="alert alert-danger">'+d.msg+'</div>');
					//console.log(data)
				}
			});
			$('#form_submit').addClass("hidden");
			$("#loading-message").removeClass("hidden");
			return false;
			event.preventDefault();
		});
	});
</script>
