<div class="modal-content">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Importation de contacts validation </h3>
	</div>
	<div class="modal-body">
{% set indexes = form.children %}
<style>
table.table.table-striped td{ width: 32%}
</style>
	<div class="modal-body">
	{{ form_start(form,  { 'action': path('crm_prospection_importer_validation', {'id': prospection.id}), 'attr': {'data-async': '', 'data-target' : '#modal' } }) }}
	{{ form_errors(form) }}
	<div class="row">
		<div class="col-md-12">
			<p>Choissez comment corriger les erreurs.</p>
		</div>

			{{ form_start(form) }}

	{% if arr_err_comptes|length > 0 %}
	<div class="row">
		<div class="col-md-12">
			<h2>Compte{% if arr_err_comptes[0]|length > 1 %}s{% endif %} déjà existant{% if arr_err_comptes[0]|length > 1 %}s{% endif %} dans la liste :</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<tbody>
					{% for k, key1 in arr_err_comptes %}
						{% for key, err in key1 %}
							{% if indexes['comptes-' ~ k ~ '-' ~ key~'-radio'] is defined %}
							<tr>
								<td><strong> {{ err.err }} </strong></td>
								<td>
									{{ form_widget(attribute(form, 'comptes-' ~ k ~ '-' ~ key~'-radio'), {'attr' : {'class' : 'radio-compte'}}) }}
								</td>
							</tr>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}

	{% if arr_err_contact|length > 0 %}
	<div class="row">
		<div class="col-md-12">
			<h2>Contact{% if arr_err_contact[0]|length > 1 %}s{% endif %} déjà existant{% if arr_err_contact[0]|length > 1 %}s{% endif %} dans la liste :</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<tbody>
					{% for k, key1 in arr_err_contact %}
						{% for key, err in key1 %}
							{% if indexes['contact-' ~ k ~ '-' ~ key~'-radio'] is defined %}
								<tr>
									<td><strong> {{ err.err }} </strong></td>
									<td>
										{{ form_widget(attribute(form, 'contact-' ~ k ~ '-' ~ key~'-radio'), {'attr' : {'class' : 'radio-contact'}}) }}
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}



	<div class="row">
		<div class="col-md-12">	
			 {{ form_widget(form.submit) }} 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">	
			{{ form_errors(form) }}
			{{ form_end(form) }}
		</div>
	</div>


	</div>
</div>
	
	
	<script type="text/javascript">
	
		$(document).ready( function () {   

			if( $('a#linkMappingValidation').length < 1 )
				$('a#linkMapping').after('<a id="linkMappingValidation" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary blink_me" href="{{ path('crm_prospection_importer_validation', {'id': prospection.id}) }}" data-toggle="modal" data-target="#modal"><span class="ui-button-icon-primary ui-icon 	ui-icon-info"></span><span class="ui-button-text">Rouvrir la validation</span></a>');

		});
	</script>	
	
	
	
