<div class="produit-collection">
	<hr />
	<table>
		<thead>
				<th class="cheque-input-banque">{{ form_label(form.nomBanque) }}</td>
				<th class="cheque-input-num">{{ form_label(form.num) }}</td>
				<th class="cheque-input-pieces">{{ form_label(form.select) }}</td>
				<th class="cheque-input-montant">{{ form_label(form.montant) }}</td>
				<th class="produit-input-button">&nbsp;</td>
		</thead>
		<tbody>
			<tr>
				<td class="cheque-input-banque">{{ form_widget(form.nomBanque) }}</td>
				<td class="cheque-input-num">{{ form_widget(form.num) }}</td>
				<td class="cheque-input-pieces">{{ form_widget(form.select) }}</td>
				<td class="cheque-input-montant">{{ form_widget(form.montant) }}</td>
				<td class="produit-input-button"><a href="#" class="btn btn-xs btn-danger remove-button"><span class="glyphicon glyphicon-minus"></span></a></td>
			</tr>
		</tbody>
	</table>
</div>
