<tr>
	<td class="cheque-input-banque">{{ cheque.nomBanque }}</td>
	<td class="cheque-input-num">{{ cheque.num }}</td>
	<td class="cheque-input-pieces">
		<ul>
		{% for piece in cheque.pieces %}
			<li>
			{% if piece.facture is not null %}
				<a href="{{path('compta_facture_voir', {'id' : piece.facture.id }) }}" data-toggle="modal" data-target="#modal-lg">Facture {{ piece.facture.num }} - {{ piece.facture.compte }} - {{ piece.facture.totalTTC }}€</a>
			{% elseif piece.avoir is not null %}
				<a href="{{path('compta_avoir_voir', {'id' : piece.avoir.id }) }}">Avoir {{ piece.avoir.num }} - {{ piece.avoir.compte }} - {{ piece.avoir.totalTTC }}€</a>
			{% elseif piece.od is not null %}
				{{ piece.od }}
			{% endif %}
			</li>
		{% endfor %}
		</ul>
	</td>
	<td class="cheque-input-montant">{{ cheque.montant|number_format(2,',',' ')  }} €</td>
</tr>