{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/homepage.css') }}" type="text/css" />
{% endblock %}


{% block body %}
<div class="row wrap-index">
	<div class="col-md-12 center">
		<div class="wrap-index-head">
			<h1>{{ random(['Hello', 'Coucou', 'Hola', 'Bienvenue', 'My dear', 'Hooo, mais c\'est', 'Hey', '22, v\'là', 'Bonjour', 'Hey', 'Ho,']) }} {{ app.user.firstname }} !</h1>
			<p class="l">{{ random(['C\'est toi qui gère !', 'Te revoilà !', 'Je t\'ai manqué ?', 'A nous deux !', 'Go get \'em!', 'Quoi de neuf ?', 'Go go go!']) }}</p>
			<div class="wrap-index-alert-box">
				<div class="wrap-index-alert-box-normal">Version</br>
					<span>Bêta</span>
				</div>
				<div class="wrap-index-alert-box-hover">
  				<a href="mailto:contact@jaime-gerer.com">
				<img src="{{ asset('images/assets/fusee-trace.png') }}" alt="jaimegerer" width="50"/>
					Donnez-nous votre avis
				</a>
				</div>
			</div>
		</div>
	    <ul class="main_menu">
	    	<li id="commercial" class="active">
	    		<a href="{{ path('crm_index') }}">
	    			<img src="{{ asset('images/assets/commercial.png') }}" alt="CRM" />
	    			J'aime le commercial
	    		</a>
	    	</li>
	    	<li id="emailing" class="inactive">
{# 	    		<a href="{{ path('emailing_index') }}">#}
					<img src="{{ asset('images/assets/communication.png') }}" alt="Emailing" />
					J'aime communiquer
{# 	    		</a>#}
	    	</li>
	    	<li id="compta" class="active">
	    		<a href="{{ path('compta_index') }}">
	    			<img src="{{ asset('images/assets/comptabilite.png') }}" alt="Comptabilité" />
	    			J'aime la compta
	    		</a>
	    	</li>
	    	<li class="inactive">
	    		<img src="{{ asset('images/assets/recrutement.png') }}" alt="Recrutement" />
	    		J'aime le recrutement
	    	</li>

	   </ul>
   </div>
</div>

{% endblock %}
