{% block additionalCSS %}
	<link rel="stylesheet" href="{{ asset('css/jquery.steps.css') }}" type="text/css" />
{% endblock %}
<style>
	.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"]{
		margin-top:3px !important;
	}
	span.nouveau_nom input{
		display: inline !important;
		width: 30% !important;
	}
	.wizard > .steps.clearfix{
		display:none !important;
	}
</style>
{{ form_start(form, { 'attr': {'class': 'form-contact-web'} }) }}
	<div id="wizard">
		<h2>Créer un formulaire web (1/5)</h2>
		<section>
			<div class="row">
				<div class="col-md-12">
					{{ form_errors(form) }}
					{{ form_row(form.nom_formulaire) }}
					{{ form_row(form.returnUrl) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Champs</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.nomCompte) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_nomCompte) }} </span>
					</div>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.prenomContact) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_prenomContact) }} </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.nomContact) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_nomContact) }} </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.adresse) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_adresse) }} </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.codePostal) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_codePostal) }} </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.ville) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_ville) }} </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.region) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_region) }} </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.pays) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_pays) }} </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.telephoneFixe) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_telephoneFixe) }} </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.telephonePortable) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_telephonePortable) }} </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.email) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_email) }} </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.fax) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_fax) }} </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.url) }}
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<a href="#" class="renommer">Renommer</a>
							<span style="margin-left: 50px;" class="nouveau_nom"><span>Nouveau nom : </span>{{ form_widget(form.new_value_url) }} </span>
					</div>
				</div>
			</div>
		</section>
		<h2>Créer un formulaire web (2/5)</h2>
		<section>
			<div class="row">
				<div class="col-md-12">
					<h1>Valeurs par défaut du nouveau contact</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ form_row(form.userGestion) }}
				</div>
			</div>
			<div class="row">    
				<div class="col-md-12">
					{{ form_row(form.types) }}
				</div>
			</div>
			<div class="row">    
				<div class="col-md-6">
					{{ form_row(form.reseau) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.origine) }}
				</div>
			</div>
			<div class="row">    
				<div class="col-md-6">
					{{ form_row(form.carteVoeux) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.newsletter) }}
				</div>
			</div>
			<div class="row">    
				<div class="col-md-6">    	
					{{ form_row(form.themes_interet) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.services_interet) }}
				</div>
			</div>
		</section>
		<h2>Créer un formulaire web (3/5)</h2>
		<section>
			<div class="row">
				<div class="col-md-12">
					<h1>Ajouter un suivi</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ form_row(form.gestionnaireSuivi) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{{ form_row(form.delaiNum) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.delaiUnit) }}
				</div>
			</div>
		</section>
		<h2>Créer un formulaire web (4/5)</h2>
		<section>
			<div id="emailAutomatique">
				<div class="row">
					<div class="col-md-12">
						<h1>Ajouter un email automatique</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{{ form_widget(form.envoyerEmail) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						{{ form_label(form.expediteur) }}
					</div>
					<div class="col-md-8">
						<div class="form-group">
							{{ form_widget(form.expediteur) }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						{{ form_label(form.objetEmail) }}
					</div>
					<div class="col-md-8">
						<div class="form-group">
							{{ form_widget(form.objetEmail) }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						{{ form_label(form.corpsEmail) }}
					</div>
					<div class="col-md-8">
						<div class="form-group">
							{{ form_widget(form.corpsEmail) }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{{ form_row(form.copieEmail) }}
					</div>
				</div>
			</div>
		</section>
	</div>

    <!--input type="submit" value="Enregistrer" class="btn btn-success" /-->
    {{ form_end(form) }}
    <!-- dump(form) -->
	<!-- form_end(form, {'render_rest': false}) -->
            <script>
                $(function ()
                {
                    //$("#wizard").steps({
                    $("#wizard").steps({
                        headerTag: "h2",
                        bodyTag: "section",
                        transitionEffect: "slideLeft",
                        //startIndex: 3,
                        //titleTemplate : '',
                        onStepChanging: function (event, currentIndex, newIndex)
						{
							// Allways allow previous action even if the current form is not valid!
							if (currentIndex > newIndex)
							{
								return true;
							}
							// Forbid next action on "Warning" step if the user is to young
							if (currentIndex === 0 )
							{
								$('#{{ form.nom_formulaire.vars.id }}').parent().find('div.alert-danger').remove();
								if( $('#{{ form.nom_formulaire.vars.id }}').val() == '' || $('#{{ form.returnUrl.vars.id }}').val() == '' )
								{
									if( $('#{{ form.nom_formulaire.vars.id }}').val() == '' )
										$('#{{ form.nom_formulaire.vars.id }}').after('<div class="alert alert-danger" style="margin-top:10px;"><a class="close" data-dismiss="alert">×</a>Veuillez renseigner ce champ</div>');
									if( $('#{{ form.returnUrl.vars.id }}').val() == '' )
										$('#{{ form.returnUrl.vars.id }}').after('<div class="alert alert-danger" style="margin-top:10px;"><a class="close" data-dismiss="alert">×</a>Veuillez renseigner ce champ</div>');
									return false;
								}
							}
							return true;
						},
                        onStepChanged: function (event, currentIndex, priorIndex) { 
							indexStep = currentIndex + 1
							$('span#StepOrder').html('('+indexStep+'/4)');
							//if( currentIndex == 2 )
								//alert(currentIndex);
						},
						onFinished: function (event, currentIndex)
						{
							$('form#{{ form.vars.attr.id }}').submit();
							//alert("{{ form.vars.attr.id }}");
						},
						labels: {
							finish: "Enregistrer et générer le code"
						}
                    });
                });
            </script>

{% block additionalJS %}
	<script src="{{ asset('js/jquery.steps.js') }}"></script>
	<script>
		$(document).ready( function () {
			console.log($('#emailAutomatique').length);
			$('form.form-contact-web').find('span.nouveau_nom').each(function(){
				if( $(this).find('input').attr('type') == 'hidden' )
				{
					$(this).find('span').hide();
				}
			});
			$("a.renommer").click(function(e){
				e.preventDefault();
					$(this).closest('div.row').find('input[type="checkbox"]').prop('checked',true);
					$(this).closest('div.row').find('span.nouveau_nom').show();
					$(this).closest('div.row').find('span.nouveau_nom').find('input').attr('type', 'text');
					$(this).closest('div.row').find('span.nouveau_nom').find('input').val('');
			});
			$('input[type="checkbox"]').change(function(){
				$this = $(this)
				console.log($this[0].id);
				console.log($this[0].checked);
				console.log($(this).closest('div.row').find('span.nouveau_nom').find('input').length);
				//if( $(this).closest('div.row').find('span.nouveau_nom').length > 0 ) $(this).closest('div.row').find('span.nouveau_nom').remove();
				if( $this[0].checked )
				{
					if( $this[0].id == "{{ form.email.vars.id }}" )
					{
						$('div#emailAutomatique').find('input,textarea').each(function() {
							//console.log($(this));
                            //$(this).find('input,textarea').each(function(){
								$(this).attr('disabled', false);
							//});
						});
					}
					$this.closest('div.row').find('span.nouveau_nom').show();
					//$this.closest('div.row').find('span.nouveau_nom').find('input').attr('type', 'text');
				}
				else
				{
					if( $this[0].id == "{{ form.email.vars.id }}" )
					{
						$('div#emailAutomatique').find('input,textarea').each(function() {
							//console.log($(this));
							//$(this).find('input,textarea').each(function(){
							$(this).attr('disabled', true);
							//});
						});
					}
					$this.closest('div.row').find('span.nouveau_nom').hide();
					//$this.closest('div.row').find('span.nouveau_nom').find('input').attr('type', 'hidden');		
				}
			});
		});	
	</script>
{% endblock %}

	
