{% extends 'compta/compta_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>Supprimer une note de frais</h1>	
		</div>
	</div>

	<div class="row">
		 
	    <div class="col-md-12">
	    	<p>Etes-vous sur de vouloir supprimer la note de frais {{ noteFrais }}  ?</p>
	    	{{ form_start(form) }}
 			{{ form_widget(form) }}
	   	 	
	   	 	 <a class="btn" href="{{ path('compta_note_frais_liste') }}">
       			<span class="glyphicon glyphicon-chevron-left"></span>Annuler
    		</a>
	   	 	<input type="submit" value="Supprimer" class="btn btn-danger" />
	   	 	{{ form_end(form) }}
	    </div>
    </div>

{% endblock %}