<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
      <title>Note de frais</title>

      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="{{ app.request.schemeAndHttpHost ~ asset('css/ndf_pdf.css') }}" />

      <style>
				thead { display: table-header-group }
				tfoot { display: table-row-group }
				tr { page-break-inside: avoid }
				#recus_table tr th{
					background-color: {{ app.user.company.color }};
					color: #FFFFFF;
				}

			</style>

  </head>
  <body>

		<div>
			<p>Note de frais de {{ ndf.user }}<br />
			Date : {{ ndf.month }}/{{ ndf.year }}
			</p>
		</div>

		<div id="titre">
			<h3>Note de frais</h3>
		</div>

		<table id="recus_table">
			<thead>
				<th class="col-md-1">Identifiant</td>
				<th class="col-md-1">Date</td>
				<th class="col-md-2">Fournisseur</td>
				<th class="col-md-1">Analytique</td>
				<th class="col-md-2">Compte Comptable</td>
				<th class="col-md-1">Montant HT</td>
				<th class="col-md-1">TVA</td>
				<th class="col-md-1">Montant TTC</td>
			</thead>
			<tbody>
		    	{% for recu in ndf.recus %}
					<tr>
						<td>#{{ recu.id }}</td>
						<td>{{ recu.date|date('d/m/Y') }}</td>
						<td>{{ recu.fournisseur }}</td>
						<td>{{ recu.analytique.valeur }}</td>
						<td>{{ recu.compteComptable.nom }}</td>
						<td class="number">{{ recu.montantHT|number_format(2,',',' ') }} €</td>
						<td class="number">{{ recu.tva|number_format(2,',',' ') }} €</td>
						<td class="number">{{ recu.montantTTC|number_format(2,',',' ') }} €</td>
					</tr>
		    	{% endfor %}
					<tr class="total">
						<td colspan="5" class="no-border"></td>
						<td class="number">{{ ndf.totalHT|number_format(2,',',' ')  }} €</td>
						<td class="number">{{ ndf.totalTVA|number_format(2,',',' ')  }} €</td>
						<td class="number">{{ ndf.totalTTC|number_format(2,',',' ')  }} €</td>
					</tr>
		    </tbody>
		</table>

		<table id="signatures_table">
			<tr>
				<td class="col-md-6">
					Signature :
				</td>
				<td class="col-md-6">
					Signature du responsable :
				</td>
			</tr>
		</table>

	</body>
</html>
