{{ form_start(form) }}

<strong>Date de la note de frais</strong>
<div class="row">
	<div class="col-md-1">
		{{ form_widget(form.month) }}
	</div>
	<div class="col-md-1">
		{{ form_widget(form.year) }}
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			{{ form_row(form.recus) }}
		</div>
	</div>

	<div class="col-md-6">
		<strong>Apercu de la note de frais : </strong>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="col-md-2">Date</th>
					<th class="col-md-4">Fournisseur</th>
					<th class="col-md-2 align-right">Montant HT</th>
					<th class="col-md-2 align-right">TVA</th>
					<th class="col-md-2 align-right">Montant TTC</th>
				</tr>
			</thead>
			<tfoot>
		    <tr>
		      <th colspan="2" class="align-right">Totaux</th>
		      <td class="align-right">
						<span class="total-ht">
						{% if ndf is defined %}
							{{ ndf.totalHT|number_format(2,',',' ') }}
						{% else %}
							0
						{% endif %}
					</span> €</td>
		      <td class="align-right">
						<span class="total-tva">
							{% if ndf is defined %}
								{{ ndf.totalTVA|number_format(2,',',' ')}}
							{% else %}
								0
							{% endif %}
						</span> €</td>
		      <td class="align-right">
						<span class="total-ttc">
							{% if ndf is defined %}
								{{ ndf.totalTTC|number_format(2,',',' ') }}
							{% else %}
								0
							{% endif %}
						</span> €
					</td>
		    </tr>
	  	</tfoot>
			<tbody class="selected-recus">
				{% if ndf is defined %}
					{% for recu in ndf.recus %}
						{% include 'ndf/ndf_preview_ligne.html.twig' with {'recu' : recu } %}
					{% endfor %}
				{% else %}
				<tr class="empty-table">
					<td colspan="5" class="center">
						<i>La note de frais ne contient pas encore de reçu.</i>
					</td>
				</tr>
			{% endif %}
			</tbody>
		</table>
		<div class="progress hidden">
			<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group center">
				<p><strong><i>Vous souhaitez pouvoir modifier cette note de frais ultérieurement</i></strong></p>
				{{ form_row(form.draft, {'attr' : {'class' : 'btn btn-success submit'} } ) }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group center">
				<p><strong><i>Vous avez terminé cette note de frais</i></strong></p>
				{{ form_row(form.validate, {'attr' : {'class' : 'btn btn-success submit'} } ) }}
			</div>
		</div>
	</div>

{{ form_rest(form) }}
{{ form_end(form) }}

{% block javascripts %}
	<!-- Dropdown with multiple selections : https://github.com/ehynds/jquery-ui-multiselect-widget -->
  <script src="{{ asset('lib/jquery-ui-multiselect-widget/src/jquery.multiselect.js') }}"></script>
  <script src="{{ asset('lib/jquery-ui-multiselect-widget/src/jquery.multiselect.filter.js') }}"></script>
	<script src="{{ asset('lib/jquery-ui-multiselect-widget/i18n/jquery.multiselect.fr.js') }}"></script>

	<script type="text/javascript">
		 $(function() {

			 $(".select-recus").multiselect({
				 checkAll: function(event, ui){
					 $(".select-recus").multiselect("widget").find(":checkbox").each(function(){
						 onClick(this);
					 });
				 },
				 uncheckAll: function(event, ui){
					$(".select-recus").multiselect("widget").find(":checkbox").each(function(){
						onClick(this);
					});
				},
			  click: function(event, ui) {
				 	onClick(ui);
				},
				optgrouptoggle: function(event, ui) {
				 $(ui.inputs).each(function(){
					 onClick(this);
				 });
				},
			 });


			 function onClick(ui){

				 //display progress bar
				 $(".progress").removeClass("hidden");
				 $(".submit").prop('disabled', true);

				 var id=ui.value;
				 if(ui.checked){

					 //send ajax request to get receipt details
					 $.ajax({
								 type: "GET",
								 url: Routing.generate('ndf_recu_get_data', {
										 'id': id,
								 }),
								 success: function(data) {

									 //remove placeholder for empty table
									if($('.selected-recus').find('.empty-table').length){
										$('.selected-recus').html('');
									}

									//add receipt to the table
								 $(".selected-recus").append(data);

								 //update prices
								 ajoutTotaux(id);

								 //hide progress bar
								 var num_rows = $('.selected-recus tr').length;
								 var checked_values = $(".select-recus").multiselect("getChecked").map(function(){
									 return this.value;
								 }).get();
								 if(num_rows == checked_values.length){
									 $(".progress").addClass("hidden");
									 $(".submit").prop('disabled', false);
								 }


							 },
							 error: function(jqXHR, textStatus, errorThrown) {
								 console.log(jqXHR.status);
								 console.log(textStatus);
								 console.log(errorThrown);
							 }
						 });

				 } else {
					 //update prices
					 retraitTotaux(id);
					 //remove line from table
					 $('.selected-recus tr#'+id).remove();

					 //hide progress bar
					 var num_rows = $('.selected-recus tr').length;
					 var checked_values = $(".select-recus").multiselect("getChecked").map(function(){
						 return this.value;
					 }).get();
					 if(num_rows == checked_values.length){
						 $(".progress").addClass("hidden");
					 	 $(".submit").prop('disabled', false);
					 }

				 }

			 }

			function ajoutTotaux(id){
				var ht = $("#"+id+" .ht").text();
				var totalHT = $('.total-ht').text();
				$('.total-ht').text(addAndDisplay(ht, totalHT));

				var tva = $("#"+id+" .tva").text();
				var totalTVA= $('.total-tva').text();
				$('.total-tva').text(addAndDisplay(tva, totalTVA));

				var ttc = $("#"+id+" .ttc").text();
				var totalTTC= $('.total-ttc').text();
				$('.total-ttc').text(addAndDisplay(ttc, totalTTC));
			}

			function retraitTotaux(id){
				var ht = $("#"+id+" .ht").text();
				var totalHT = $('.total-ht').text();
				$('.total-ht').text(subtractAndDisplay(ht, totalHT));

				var tva = $("#"+id+" .tva").text();
				var totalTVA= $('.total-tva').text();
				$('.total-tva').text(subtractAndDisplay(tva, totalTVA));

				var ttc = $("#"+id+" .ttc").text();
				var totalTTC= $('.total-ttc').text();
				$('.total-ttc').text(subtractAndDisplay(ttc, totalTTC));

			}

			function addAndDisplay(num, total){
				total = total.replace(",", ".");
				var newTotal = Number(total)+Number(num);
				newTotal = newTotal.toFixed(2);
				return newTotal.toString().replace(".", ",");
			}

			function subtractAndDisplay(num, total){
				total = total.replace(",", ".");
				var newTotal = Number(total)-Number(num);
				newTotal = newTotal.toFixed(2);
				return newTotal.toString().replace(".", ",");
			}

		 });
	</script>
{% endblock %}
