{% extends 'ndf/ndf_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Mes notes de frais</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			{% include 'ndf/ndf_submenu.html.twig' %}
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		    <p>
		    	<a class="btn btn-success" href="{{ path('ndf_ajouter') }}">
		    		<span class="glyphicon glyphicon-plus"></span> Ajouter
		    	</a>

		    </p>
	    </div>
    </div>

	<div class="row">
		<div class="col-md-12">

			<table class="table table-bordered table-striped">
		    	<thead>
		    		<tr>
		    			<th class="col-md-2">Date</th>
		    		 	<th class="col-md-2">Nombre de reçus</th>
		    			<th class="col-md-3">Total (TTC)</th>
		    			<th class="col-md-3">Etat</th>
		    			<th class="col-md-2">Actions</th>
		    		</tr>
		    	</thead>
					<tbody>
						{% for ndf in arr_ndf %}
							<tr>
								<td>{{ "%02d"|format(ndf.month) }}/{{ ndf.year }}</td>
								<td>{{ ndf.nbRecus }}</td>
								<td>{{ ndf.totalTTC|number_format(2,',',' ') }} €</td>
								<td>{{ ndf.etatPourUser }}</td>
								<td>
									{% if ndf.etat == "DRAFT" %}
										<a href="{{ path('ndf_valider', {'id' : ndf.id }) }}" class="btn btn-xs btn-success" ​data-toggle="tooltiphich" title="Valider et transmettre à la compta"><span class="glyphicon glyphicon-check"></span></a>
										<a href="{{ path('ndf_editer', {'id' : ndf.id }) }}" class="btn btn-xs btn-warning" ​data-toggle="tooltiphich" title="Modifier"><span class="glyphicon glyphicon-pencil"></span></a>
										<a href="{{ path('ndf_supprimer', {'id' : ndf.id }) }}" class="btn btn-xs btn-danger" ​data-toggle="tooltiphich" title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a>
									{% else %}
										<a href="{{ path('ndf_exporter', {'id' : ndf.id }) }}" class="btn btn-xs btn-primary" ​data-toggle="tooltiphich" title="Exporter la note de frais"><span class="glyphicon glyphicon-floppy-disk"></span></a>
										<a href="{{ path('ndf_recus_exporter', {'id' : ndf.id }) }}" class="btn btn-xs btn-primary" ​data-toggle="tooltiphich" title="Exporter les reçus"><span class="glyphicon glyphicon-file"></span></a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
		    </table>
		</div>
	</div>
{% endblock %}
