{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>Devis</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		    <p class="group-btn">
		    	<a href="{{ path('crm_devis_editer', {'id' : devis.id }) }}"  class="btn btn-warning">
		    		<span class="glyphicon glyphicon-pencil"></span> Modifier
		    	</a>
		    	<a href="{{ path('crm_devis_exporter', {'id' : devis.id }) }}"  class="btn btn-primary">
		    		<span class="glyphicon glyphicon-floppy-disk"></span> Exporter
		    	</a>
		    	{% if facture is null or facture|length == 0 %}
			    	<a href="{{ path('crm_devis_convertir', {'id' : devis.id }) }}"  class="btn btn-primary" data-toggle="modal" data-target="#modal">
			    		<span class="glyphicon glyphicon-check"></span> Convertir en facture
			    	</a>
		    	{% else %}
			    	<a href="{{ path('crm_devis_convertir', {'id' : devis.id }) }}"  class="btn btn-primary" data-toggle="modal" data-target="#modal">
			    		<span class="glyphicon glyphicon-check"></span> Ajouter une autre facture
			    	</a>
			    	{% if facture|length == 1 %}
						<a href="{{ path('crm_facture_voir', {'id' : facture.0.id }) }}"  class="btn btn-primary">
							<span class="glyphicon glyphicon-eye-open"></span> Voir la facture
						</a>
					{% elseif facture|length > 1 %}
						<a href="{{ path('crm_factures_devis_liste', {'id' : devis.id }) }}"  class="btn btn-primary">
							<span class="glyphicon glyphicon-eye-open"></span> Voir les factures
						</a>
					{% endif %}
		    	{% endif %}

		    	<a href="{{ path('crm_devis_envoyer', {'id' : devis.id }) }}"  class="btn  {% if (devis.contact is null) %} btn-default not-active {% else %} {% if devis.contact.email is null %} btn-default not-active {% else %} btn-primary {% endif %}{% endif %}"  data-toggle="modal" data-target="#modal">
			    	<span class="glyphicon glyphicon-send"></span> Envoyer par email
			    </a>

		    	<a href="{{ path('crm_devis_impulsion', {'id' : devis.id }) }}"  class="btn  {% if (devis.contact is null) %} btn-default not-active {% else %} {% if devis.contact.email is null %} btn-default not-active {% else %} btn-primary {% endif %}{% endif %}"  data-toggle="modal" data-target="#modal">
			    	<span class="glyphicon glyphicon-time"></span> Ajouter un suivi
			    </a>

				<a href="{{ path('crm_devis_dupliquer', {'id' : devis.id }) }}"  class="btn btn-primary">
		    		<span class="glyphicon glyphicon-duplicate"></span> Dupliquer
		    	</a>

		    	<a href="{{ path('crm_devis_supprimer', {'id' : devis.id }) }}"  class="btn btn-danger">
		    		<span class="glyphicon glyphicon-trash"></span> Supprimer
		    	</a>

		    </p>

		     <p>
		        {% if devis.contact is null  %}
		      		<span class="s">Vous ne pouvez pas envoyer le devis car le contact n'est pas renseigné.</span>
		      {% else %}
			      {% if devis.contact.email is null %}
			     	<span class="s">Vous ne pouvez pas envoyer le devis car l'adresse email du contact n'est pas renseignée.</span>
			     {% endif %}
		      {% endif %}
		     </p>
	    </div>
    </div>

    <div class="row">
		<div class="col-md-12">
			{% for flashMessage in app.session.flashbag.get('success') %}
			    <div class="alert alert-success">
			        {{ flashMessage }}
			    </div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('danger') %}
			    <div class="alert alert-danger">
			        {{ flashMessage }}
			    </div>
			{% endfor %}
		</div>
	</div>

	 <div class="row" id="devis_details">
	    	<div class="col-md-12">
	    		<h2>{{ devis.objet }}</h2>
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col-md-6">
	    		<table class="contact-view-table">
	    			<tbody>
	    				<tr>
	    					<td>Gestionnaire du devis</td>
				    		<td>
								{{ devis.userGestion }}
								{% if devis.userGestion.enabled == false %}
					    			<a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" title="Utilisateur inactif" data-content="Cet utilisateur est inactif. Vous devriez changer le gestionnaire du devis."><span class="glyphicon glyphicon-warning-sign red"></span></a>
					    		{% endif %}
				    		</td>
	    				</tr>
	    				<tr>
	    					<td>Numéro de devis</td>
				    		<td>
								{{ devis.num }}
				    		</td>
	    				</tr>
	    				<tr>
	    					<td>Date de validité</td>
				    		<td>
								{{ devis.dateValidite|date("d/m/Y") }}
				    		</td>
	    				</tr>
	    				<tr>
	    					<td>Etat</td>
				    		<td>
								{{ devis.formattedEtat }}
				    		</td>
	    				</tr>
	    				<tr>
	    					<td>Etat du devis</td>
				    		<td>
								{{ devis.etatDevis }}
				    		</td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    	<div class="col-md-6">
	    		<table class="contact-view-table">
	    			<tbody>
	    				<tr>
	    					<td>Organisation</td>
				    		<td>
								<a href="{{ path('crm_compte_voir', {'id' : devis.compte.id }) }}" ​data-toggle="tooltip-btn-xs" title="Voir">
									{{ devis.compte  }}
								</a>
				    		</td>
	    				</tr>
	    				<tr>
	    					<td>Contact</td>
				    		<td>
				    			{% if devis.contact == null %}
				    				-
				    			{% else %}
									<a href="{{ path('crm_contact_voir', {'id' : devis.contact.id }) }}" ​data-toggle="tooltip-btn-xs" title="Voir">
									{{ devis.contact  }}
								</a>
								{% endif %}
				    		</td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    </div>
	    <div class="row">
		    <div class="col-md-12">
		    	<hr />
		    </div>
		</div>
	    <div class="row">
	    	<div class="col-md-6">
	    		<table class="contact-view-table">
	    			<tbody>
	    				<tr>
	    					<td>Adresse</td>
				    		<td>
								{% if devis.adresse is empty %}
						    		-
						    	{% else %}
						    		{{ devis.adresse }}
						    	{% endif %}
				    		</td>
	    				</tr>
	    				<tr>
	    					<td>Code postal</td>
				    		<td>
				    			{% if devis.codePostal is empty %}
						    		-
						    	{% else %}
						    		{{ devis.codePostal }}
						    	{% endif %}
				    		</td>
	    				</tr>
	    				<tr>
	    					<td>Ville</td>
				    		<td>
				    			{% if devis.ville is empty %}
						    		-
						    	{% else %}
						    		{{ devis.ville }}
						    	{% endif %}
				    		</td>
	    				</tr>
	    				<tr>
	    					<td>Région</td>
				    		<td>
				    			{% if devis.region is empty %}
						    		-
						    	{% else %}
						    		{{ devis.region }}
						    	{% endif %}
						    </td>
	    				</tr>
	    				<tr>
	    					<td>Pays</td>
				    		<td>
				    			{% if devis.pays is empty %}
						    		-
						    	{% else %}
						    		{{ devis.pays }}
						    	{% endif %}
						    </td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    	<div class="col-md-6">
	    	</div>
	    </div>
	     <div class="row">
	    	<hr />
	    	<div class="col-md-12 produit-collection produit-collection-voir">
		    	<table>
					<thead>
							<th class="produit-input-type">Type</td>
							<th class="produit-input-nom">Nom</td>
							<th class="produit-input-number">Tarif unitaire (€)</td>
							<th class="produit-input-number">Quantité</td>
							<th class="produit-input-number">Montant (€)</td>
							<th class="produit-input-number">Remise (€)</td>
							<th class="produit-input-number">Total (€)</td>
					</thead>
					<tbody>
			    	{% for produit in devis.produits %}
						{{ include('crm/produit/crm_produit_voir.html.twig', { 'produit': produit }) }}
			    	{% endfor %}
			    	</tbody>
			    </table>
	    	</div>
	    </div>
	    <div class="row">
	    <div class="col-md-12" id="devis-calcul-wrapper">
	    	<hr />
	   		<div class="form-group">
	   			<span class="devis-label">Sous total</span>
	   			<span class="devis-montant">{{ devis.sousTotal }} €</span>
	   		</div>
	    	<div class="form-group">
	    		<span class="devis-label">Remise</span>
	    		<span class="devis-montant">
	    			{% if devis.remise is not null %}
	    				{{ devis.remise }} €
	    			{% else %}
	    				-
	    			{% endif %}
	    		</span>
	    	</div>
	    	<div class="form-group">
	    		<span class="devis-label">Total HT</span>
	    		<span class="devis-montant">{{ devis.totalHT }} €</span>
	    	</div>
			<div class="form-group">
				<span class="devis-label">TVA en %</span>
				{% if devis.taxe is not null %}
					<span class="devis-montant">
						{{ devis.taxePercent*100 }}%
					</span>
				{% else %}
					<span class="devis-montant">&nbsp;</span>
					<span class="devis-montant">-</span>
				{% endif %}
			</div>
			<div class="form-group">
				<span class="devis-label">TVA en €</span>
				{% if devis.taxe is not null %}
					<span class="devis-montant">
							{{ devis.taxe }} €
						</span>
				{% else %}
					<span class="devis-montant">&nbsp;</span>
					<span class="devis-montant">-</span>
				{% endif %}
			</div>
	   	 	<div class="form-group">
	   	 		<span class="devis-label">
	   	 			{% if devis.taxe is not null %} Total TTC {% else %} Total prix net {% endif %}
	   	 		</span>
	   	 		<span class="devis-montant">{{ devis.totalTTC }} €</span>
	   	 	</div>
	   	 	<hr />
	    </div>
	</div>
	<div class="row">
	    	<div class="col-md-12">
	    		<table class="contact-view-table">
		    		<tbody>
		    			<tr>
		    				<td>Conditions d'utilisation</td>
				    		<td>
				    			{% if devis.cgv is empty %}
						    		-
						    	{% else %}
									{{ devis.cgv|raw }}
						    	{% endif %}
				    		</td>
		    			</tr>
		    		</tbody>
		    	</table>
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col-md-12">
	    		<table class="contact-view-table">
		    		<tbody>
		    			<tr>
		    				<td>Commentaire</td> 
				    		<td>
				    			{% if devis.description is empty %}
						    		-
						    	{% else %}
									{{ devis.description|raw }}
						    	{% endif %}
				    		</td>
		    			</tr>
		    		</tbody>
		    	</table>
		    	<hr />
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col-md-6">
	     		<table class="contact-view-table">
	     			<tbody>
	     				<tr>
	     					<td>Créé le</td>
				    		<td>
				    			{{ devis.dateCreation|date("d/m/Y") }}
				    		</td>
	     				</tr>
	     				<tr>
	     					<td>Par</td>
		    				<td>
								{{ devis.userCreation }}
							</td>

	     				</tr>
	     			</tbody>
	     		</table>
	     	</div>
	     	<div class="col-md-6">
	     		<table class="contact-view-table">
	     			<tbody>
	     				<tr>
				    		<td>Modifié le</td>
				    		<td>
				    			{% if devis.dateEdition is empty %}
						    		Jamais
						    	{% else %}
									{{ devis.dateEdition|date("d/m/Y") }}
						    	{% endif %}
				    		</td>
			    		</tr>
			    		<tr>
		    			{% if devis.userEdition is not empty %}
				    		<td>Par</td>
		    				<td>
								{{ devis.userEdition }}
							</td>
				    	{% endif %}
			    		</tr>
	     			</tbody>
	    		</table>
	    	</div>
	    </div>

	{{ include('crm/priseContact/crm_prise_contact_docprix_liste_part.html.twig', {'listPriseContact': listPriseContacts, 'div_id': 'table_prises_contact'}) }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready( function () {
			$('#table_contacts').DataTable({
					language : {
						"url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/French.json"
					},
					paging : false,
				    info: false,
				    searching: false,
					fnDrawCallback: function () {
					  $( 'a', this.fnGetNodes() ).tooltip( {
						"delay": 0,
						"track": true,
						"fade": 250,
						"tooltipClass": 'btn btn-default',
					  } );
					},
					fnInitComplete: function () {
					  $( 'a', this.fnGetNodes() ).tooltip( {
						"delay": 0,
						"track": true,
						"fade": 250,
						"tooltipClass": 'btn btn-default',
					  } );
					},
			});
		});
	</script>
{% endblock %}
{% block additionalModals %}
	<div id="ModalAlert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalAlert" aria-hidden="true" data-focus-on="input:first">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					 <h3 id="myModalAlert">Suivi ajouté</h3>

				</div>
				<div class="modal-body">
					<p><span class="glyphicon glyphicon glyphicon-ok"> </span> Le suivi a été ajouté avec succès</p>
				</div>
				<div class="modal-footer">
					<button class="btn-primary btn" id="okAlert" data-dismiss="modal" aria-hidden="true">ok</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
