{% extends 'crm/crm_layout.html.twig' %}
{% set filterDateNone   = constant('AppBundle\\Controller\\CRM\\DevisController::FILTER_DATE_NONE') %}
{% set filterDateMonth  = constant('AppBundle\\Controller\\CRM\\DevisController::FILTER_DATE_MONTH') %}
{% set filterDate2Month = constant('AppBundle\\Controller\\CRM\\DevisController::FILTER_DATE_2MONTH') %}
{% set filterDateYear   = constant('AppBundle\\Controller\\CRM\\DevisController::FILTER_DATE_YEAR') %}
{% set filterDateCustom = constant('AppBundle\\Controller\\CRM\\DevisController::FILTER_DATE_CUSTOM') %}
{% block content %}


    <div class="row">
   		<div class="col-md-12">
   			<h1>Devis</h1>
   		</div>
   	</div>


	<div class="row">
		<div class="col-md-12">
			{% include 'crm/devis/crm_devis_submenu.html.twig' %}
		</div>
	</div>

       <div  class="row well">
           <div class="col-md-3">
               {#<label class="control-label" for="filter_date">Afficher les devis</label>#}
               {#<select class="form-control" id="filter_date">#}
                   {#<option value="{{ filterDateNone }}">tous</option>#}
                   {#<option value="{{ filterDateMonth }}">du mois en cours</option>#}
                   {#<option value="{{ filterDate2Month }}">des deux derniers mois</option>#}
                   {#<option value="{{ filterDateYear }}">de l'année en cours</option>#}
                   {#<option value="{{ filterDateCustom }}">choisir une période...</option>#}
               {#</select>#}
               <input type="radio" name="filter_date" id="all" class="filter_date" value="{{ filterDateNone }}"
                      checked />
               <label for="all">Tous</label><br />
               <input type="radio" name="filter_date" id="month" class="filter_date" value="{{ filterDateMonth }}" />
               <label for="month">Du mois en cours</label><br />
               <input type="radio" name="filter_date" id="2month" class="filter_date" value="{{ filterDate2Month }}" />
               <label for="2month">Des deux derniers mois</label>
           </div>
           <div class="col-md-3">
               <input type="radio" name="filter_date" id="year" class="filter_date" value="{{ filterDateYear }}" />
               <label for="year">De l'année en cours</label><br />
               <input type="radio" name="filter_date" id="custom" class="filter_date" value="{{ filterDateCustom }}" />
               <label for="custom">Choisir une période...</label><br />
           </div>
           <div id="filter_dates">
               <div class="row">
                   <div class="col-md-3">
                       <label class="control-label" for="start_date">Du </label>
                       <input type="text" name="start_date" id="start_date" class="form-control" />
                       <input type="hidden" name="start_date_db" id="start_date_db" />
                   </div>
                   <div class="col-md-3">
                       <label class="control-label" for="end_date">Au </label>
                       <input type="text" name="end_date" id="end_date" class="form-control" />
                       <input type="hidden" name="end_date_db" id="end_date_db" />
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-6">&nbsp;</div>
                   <div class="col-md-6" id="error_dates">
                       La date de fin doit être supérieure ou égale à la date de début
                   </div>
               </div>
           </div>
       </div>

       	<div class="row">
			<div class="col-md-12">
			    <p>
			    	<a href="{{ path('crm_devis_ajouter') }}" class="btn btn-success">
			    		<span class="glyphicon glyphicon-plus"></span> Ajouter
			    	</a>
			    </p>
		    </div>
	    </div>

	   <div class="row">
	    	<div class="col-md-12">
			    <table id="table_devis_list" class="table table-bordered table-striped">
			    	<thead>
			    		<tr>
			    			<th>Objet</th>
			    			<th>Numéro de devis</th>
			    			<th>Organisation</th>
			    		 	<th>Total</th>
			    			<th>Date de création</th>
			    			<th>Etat</th>
			    			<th>Actions</th>
			    		</tr>
			    	</thead>
			    </table>
			</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
        function dateChange(table) {
            var startDate = $('#start_date_db');
            var endDate = $('#end_date_db');
            var errorMessage = $('#error_dates');
            errorMessage.hide();
            if ($('input[name=filter_date]:radio:checked').val() != {{ filterDateCustom }} ||
                startDate.val() == '' ||
                endDate.val() == '') {
                return;
            }
            if (startDate.val() > endDate.val()) {
                errorMessage.show();
                return;
            }

            table.ajax.reload();

        }
		$(document).ready( function () {

      var url = Routing.generate('crm_devis_liste_ajax');
			{% if etat is not null %}
				var etat = "{{ etat }}";
        url = Routing.generate('crm_devis_liste_ajax', {'etat' : etat });
			{% endif %}

			var table = $('#table_devis_list').DataTable({
				"dom": 'T<"clear">lfrtip',
		        "oTableTools": {
		        	"sSwfPath": "/web/lib/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
		            "aButtons": [
		                {
		                    "sExtends": "csv",
		                    "sButtonText": "Excel",
		                    "mColumns": [ 0, 1, 2, 3 ],
		                    "sFileName": "devis.csv"
		                },
		                {
		                    "sExtends": "pdf",
		                    "sButtonText": "PDF",
		                    "mColumns": [ 0, 1, 2, 3 ],
		                    "sFileName": "devis.pdf",
		                    "sTitle": "Comptes"
		                },
		            ]
		        },
				"language" : {
					"url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/French.json"
				},
				 "order": [[ 1, "desc" ]],
				"responsive": true,
				"processing": true,
			    "serverSide": true,
			    "ajax":{
	                url : url, // json datasource
	                type: "post",  // method  , by default get
                    data: function ( d ) {
                        d.date_search = $('input[name=filter_date]:radio:checked').val();
                        d.start_date = $('#start_date_db').val();
                        d.end_date = $('#end_date_db').val();
                    }
	            },
	            "columns": [
                   { "data": "objet" },
                   { "data": "num" },
                   { "data": "compte_nom" },
                   { "data": "totaux" },
                   { "data": "dateCreation" },
                   { "data": "etat" },
                ],
				fnDrawCallback: function () {
				  $( 'a', this.fnGetNodes() ).tooltip( {
					"delay": 0,
					"track": true,
					"fade": 250,
					"tooltipClass": 'btn btn-default',
				  } );
				},
                fnInitComplete: function () {
				  $( 'a', this.fnGetNodes() ).tooltip( {
					"delay": 0,
					"track": true,
					"fade": 250,
					"tooltipClass": 'btn btn-default',
				  } );
				},
                "columnDefs": [
                               {
                                   // The `data` parameter refers to the data for the cell (defined by the
                                   // `data` option, which defaults to the column being worked with, in
                                   // this case `data: 0`.
                                   "render": function ( data, type, row ) {
                                      var btnUrl = Routing.generate('crm_devis_voir', {'id' : row['id'] });
                                      return '<a href="'+btnUrl+'">'+data+'</a>';
                                   },
                                   "targets": 0
                               },
                               {
                                   // The `data` parameter refers to the data for the cell (defined by the
                                   // `data` option, which defaults to the column being worked with, in
                                   // this case `data: 0`.
                                   "render": function ( data, type, row ) {
                                     var voirUrl = Routing.generate('crm_devis_voir', {'id' : row['id'] });
                                     var editUrl = Routing.generate('crm_devis_editer', {'id' : row['id'] });
                                     var supprUrl = Routing.generate('crm_devis_supprimer', {'id' : row['id'] });
                                     var exportUrl = Routing.generate('crm_devis_exporter', {'id' : row['id'] });
                                     var copyUrl = Routing.generate('crm_devis_dupliquer', {'id' : row['id'] });

                                     var s= "<p><a href=\""+voirUrl+"\" class=\"btn btn-xs btn-info\" ​data-toggle=\"tooltip-btn-xs\" title=\"Voir\"><span class=\"glyphicon glyphicon-eye-open\"></span></a>" +" "+
                                  	        "<a href=\""+editUrl+"\" class=\"btn btn-xs btn-warning\" ​data-toggle=\"tooltip-btn-xs\" title=\"Editer\"><span class=\"glyphicon glyphicon-pencil\"></span></a>" +" "+
                                            "<a href=\""+supprUrl+"\" class=\"btn btn-xs btn-danger\"​data-toggle=\"tooltip-btn-xs\" title=\"Supprimer\"><span class=\"glyphicon glyphicon-trash\"></span></a></p>" +
                                            "<p><a href=\""+exportUrl+"\" class=\"btn btn-xs btn-primary\" ​data-toggle=\"tooltip-btn-xs\" title=\"Exporter\"><span class=\"glyphicon glyphicon-floppy-disk\"></span></a>"+" "+
                                           	"<a href=\""+copyUrl+"\" class=\"btn btn-xs btn-primary\" ​data-toggle=\"tooltip-btn-xs\" title=\"Dupliquer\"><span class=\"glyphicon glyphicon-duplicate\"></span></a></p>";

                                   		return s;
                                   },
                                   "targets": 6
                               },
                               { "visible": false,  "targets": [ 'id' ] },
                               {
                                   "render": function ( data, type, row ) {
                                	  var s= data.HT+" € HT"+"<br />"+
                      										"<i>"+data.TTC+" € TTC </i>";

                                	  return s;
                                   },
                                   "targets": 3
                               },
                               {
                                   "render": function ( data, type, row ) {
                                	   var d = data.date;
                                	   var arr = d.split("-");
                                	   var y = arr[0];
                                	   var m = arr[1];
                                	   var arrj = arr[2].split(" ");
                                	   var j = arrj[0];
                                	   var res = j+"/"+m+"/"+y;
                                	   return res;
                                   },
                                   "targets": 4
                               },
                               {
                                   "render": function ( data, type, row ) {

                                	  var s ="";
                  									if(data == ""){
                  										s = "Inconnu";
                  									} else if(data == "DRAFT"){
                  										s = "Brouillon"
                                   	} else if(data == "LOST"){
                  										s = "Perdu"
                                    } else if(data == "WON"){
                  										s = "Gagné"
                                   	} else if(data == "SENT"){
				                              s = "Envoyé"
                                   	} else {
				                              s = data;
			                              }

                                	   return s;
                                   },
                                   "targets": 5
                               },
                               {
                                   "render": function ( data, type, row ) {
                                       return '<a href="/crm/compte/voir/'+row['compte_id']+'">'+data+'</a>';
 	                             	},
                                   "targets": 2
                               },
                               ]
			});

            $('.filter_date').change(function() {
                var filterDates = $('#filter_dates');

                if ($('input[name=filter_date]:radio:checked').val() == {{ filterDateCustom }}) {
                    filterDates.show();
                    return;
                }
                filterDates.hide();
                table.ajax.reload();
            });
            $('#start_date').datepicker({
                altField: "#start_date_db",
                altFormat: "yy-mm-dd"
            }).on("change", function() {
                dateChange(table);
            });
            $('#end_date').datepicker({
                altField: "#end_date_db",
                altFormat: "yy-mm-dd"
            }).on("change", function() {
                dateChange(table);
            });

            $('#filter_dates').hide();
            $('#error_dates').hide();
		});
	</script>
{% endblock %}
