<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>Convertir en facture</h3>
</div>
<div class="modal-body">
	<div class="center">
		
	</div>






{{ form_start(form, {'action': path('crm_devis_convertir', {'id' : devis.id})} ) }}
	<div class="row">
		
		<div class="col-md-12">
			{{ form_errors(form) }}
			{{ form_row(form.objet) }}
		</div>
	</div>
	<div class="row">   
		<div class="col-md-12">
				{{ form_rest(form) }}
			</div>
		</div>
	</div>
{{ form_end(form) }}











</div>
