<p>
Madame, Monsieur,
</p>
<p>
90% de nos clients nous règlent dans les temps. Cependant, sauf erreur ou omission de notre part, la mise à jour de votre compte-client présente à ce jour un solde débiteur de {{ total_du }} €.
En effet, {% if arr_factures|length == 1 %} 
	la facture  n°{{ arr_factures|first.num }}, du {{ arr_factures|first.dateCreation|date('d/m/Y')  }}, n'a pas encore été honorée.
{% else %}
	les factures suivantes n'ont pas encore été honorées :
	<ul>
	{% for facture in arr_factures %}
		<li>facture  n°{{ facture.num }}, du {{ facture.dateCreation|date('d/m/Y') }}</li>
	{% endfor %}
	</ul>
{% endif %}
</p>
<p>
L'échéance étant dépassée, nous vous demandons pour la bonne règle de nos écritures, de nous adresser le règlement dans les plus brefs délais. 
</p>
<p>
Dans le cas où celui-ci aurait été adressé entre temps, nous vous prions de ne pas tenir compte de la présente.
</p>
<p>
Nous vous prions de croire, Madame, Monsieur, en l'assurance de notre considération distinguée.
</p>
<p>
{{ app.user }}
</p>