<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Relancer par email</h3>
</div>
<div class="modal-body">

    <div class="center">
        <p>La relance pour la facture <strong>"{{ facture.num}} - {{ facture.objet }}"</strong>
            sera envoyée à <strong>{{ facture.contact }}</strong> ({{ facture.contact.email }}).
				</p>

				{% if type == "ECHEANCE" %}
					{{ form(form, {'action': path('compta_facture_rappeler-echeance', {'id' : facture.id })} ) }}
				{% else %}
					{{ form(form, {'action': path('compta_facture_relancer_email', {'id' : facture.id })} ) }}
				{% endif %}

        <p id="loading-message" class="hidden">
          <i>Votre message est en cours d'envoi. Pour patienter, voici un petit chat qui danse :</i><br/>
          <img src="{{ asset('images/assets/cat_loader.gif') }}" alt="Patientez..."/>
        </p>
    </div>
</div>

{{ tinymce_init({
	'theme': {'simple': {'height': 400}}
}) }}

<script type="text/javascript">
    $(document).ready(function() {
        $('form').submit(function() {
            $('input').attr('readonly', true);
            $('textarea').attr('readonly', true);
            $('#form_submit').addClass("hidden");
            $("#loading-message").removeClass("hidden");
        });
    });
</script>
