<p>
Madame, Monsieur,
</p>
<p>
99% de nos clients nous règlent dans les 2 semaines qui suivent notre 1er courrier de relance. Il semble qu’il y ait un problème de traitement de votre côté. En effet, sauf erreur ou omission de notre part, la mise à jour de votre compte-client présente toujours à ce jour un solde débiteur de {{ total_du }} €.
En effet, {% if arr_factures|length == 1 %} 
	la facture  n°{{ arr_factures|first.num }}, du {{ arr_factures|first.dateCreation|date('d/m/Y')  }}, n'a pas encore été honorée.
{% else %}
	les factures suivantes n'ont pas encore été honorées :
	<ul>
	{% for facture in arr_factures %}
		<li>facture  n°{{ facture.num }}, du {{ facture.dateCreation|date('d/m/Y') }}</li>
	{% endfor %}
	</ul>
{% endif %}
</p>
<p>
L'échéance étant dépassée, et plusieurs relances vous ayant été envoyées, nous vous demandons pour la bonne règle de nos écritures, de nous adresser le règlement dans les plus brefs délais.<br />
A défaut, nous nous verrions contraints de vous facturer les 40€ forfaitaires et les intérêts résolutoires prévus dans la loi et de déposer une demande en injonction de payer au tribunal de commerce. 
</p>
<p>
Dans le cas où celui-ci aurait été adressé entre temps, nous vous prions de ne pas tenir compte de la présente.
</p>
<p>
Vous pouvez consulter {% if arr_factures|length == 1 %}cette facture{% else %}ces factures{% endif %} en pièce jointe.
</p>
Nous vous prions de croire, Madame, Monsieur, en l'assurance de notre considération distinguée.
</p>
<p>
{{ app.user }}
</p>