<div class="produit-collection">
	<hr />	
	<table>
		<thead>
				<th>{{ form_label(form.date) }}</td>
				<th>{{ form_label(form.libelle) }}</td>
				<th>{{ form_label(form.montant) }}</td>
		</thead>
		<tbody>
			<tr>
				<td>{{ form_widget(form.date) }}</td>
				<td>{{ form_widget(form.libelle) }}</td>
				<td>{{ form_widget(form.montant) }}</td>
				<td class="produit-input-button"><a href="#" class="btn btn-xs btn-danger remove-button"><span class="glyphicon glyphicon-minus"></span></a></td>
			</tr>
		</tbody>
	</table>
</div>