{% extends 'compta/compta_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Plan comptable</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		    <p>
		    	<a href="{{ path('compta_compte_ajouter') }}" class="btn btn-success">
		    		<span class="glyphicon glyphicon-plus"></span> Ajouter un compte
		    	</a>
					<a href="{{ path('compta_plan_exporter') }}" class="btn btn-primary">
						<span class="glyphicon glyphicon-floppy-disk"></span> Exporter le plan comptable
					</a>
	    		{% if arr_comptes|length > 0 %}
	    			<a href="{{ path('compta_compte_importer') }}" class="btn btn-info">
		    			<span class="glyphicon glyphicon-import"></span> Importer des comptes
		    		</a>
	    		{% endif %}
		    </p>
	    </div>
    </div>

	{{ form_start(form) }}
	<div class="row">
		<div class="col-md-12">
			{{ form_errors(form) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			{{ form_widget(form.recherche) }}
		</div>
		<div class="col-md-6">
			{{ form_widget(form.submit) }}
			{%  if form.recherche.vars.value != '' %}
			<a class="btn btn-info" href="{{  path('compta_compte_liste') }}">Réinitialiser</a>
			{%  endif %}
		</div>
	</div>
	{{ form_rest(form) }}
	{{ form_end(form) }}
	<div class="row">
		<div class="col-md-6">
			{%  if form.recherche.vars.value != '' %}
			{{ form.recherche.vars.value }} {{ dataBigCount|length + dataCount|length }} résultat{% if dataBigCount|length + dataCount|length > 1 %}s{% endif %}
			{% endif %}
		</div>
	</div>
	<div class="row">
    	<div class="col-md-12">

    		{% if arr_comptes|length > 0 %}
				<div class="wrap-plan-comptable">

				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">

					  {% for key, categorie in arr_categories if key < 9 %}

						    <li role="presentation" class="">
						   		 <a href="#home{{ key }}" aria-controls="home" role="tab" data-toggle="tab">
						   		     <strong> {{ key }}</strong>{% if dataBigCount[key] is defined %} ({{ dataBigCount[key] }} résultat{% if dataBigCount[key] > 1 %}s{% endif %}){% endif %}<br> {{ categorie }}
						   		 </a>
						    </li>

					  {% endfor %}

				  </ul>

				  <!-- Tab panes -->
					<div class="tab-content">

						  {% for key, categorie in arr_categories if key < 9 %}

							 <div role="tabpanel" class="tab-pane" id="home{{ key }}">

										{% for souskey, souscategorie in arr_categories %}
											{% if (key == souskey|first) and (key != souskey) %}
											  <div class="panel panel-default">
													<div class="panel-heading" type="button" data-toggle="collapse" data-target="#collapse{{ souskey }}" aria-expanded="false" aria-controls="collapse{{ souskey }}" >
													  <p class="panel-title">
													  	<span class="label label-warning">{{ souskey }}</span>
													  	{{ souscategorie }}{% if dataCount[souskey] is defined %} ({{ dataCount[souskey] }} résultat{% if dataCount[souskey] > 1 %}s{% endif %}){% endif %}
													 </p>
													</div>
													<div id="collapse{{ souskey }}" class="collapse" role="tabpanel">
													  <div class="panel-body">
															{% for compte in arr_comptes %}
																{% if compte.num|slice(0, 2) == souskey  %}
																	<p><a href="{{ path('compta_compte_voir', {'id' : compte.id }) }}">{{ compte }} </a></p>
																	<p class="btn-souskey-controls-wrapper">
																		<a class="btn btn-xs btn-success" data-toggle="modal" data-target="#modal" href="{{ path('compta_compte_ajouter_sous_compte', {'id' : compte.id, 'redirect' : 1 }) }}">
																			<span class="glyphicon glyphicon-plus s"></span>
																		</a>
																		<a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#modal" href="{{ path('compta_compte_supprimer_sous_compte', {'id' : compte.id, 'redirect' : 1  }) }}">
																			<span class="glyphicon glyphicon-trash s"></span>
																		</a>
																	</p>
																	<hr />
																{% endif %}
															{% endfor %}
														</div>
													</div>
												</div>
											{% endif %}
										{% endfor %}

							 </div>

						  {% endfor %}

				    </div>

				</div>

			{% else %}
	  			<p>Vous n'avez pas encore de plan comptable.</p>
	  			<p>
		  			<a href="{{ path('compta_compte_importer') }}" class="btn btn-info"  data-toggle="modal" data-target="#modal">
			    		<span class="glyphicon glyphicon-import"></span> Importer mon plan comptable
			    	</a>
			    	<a href="{{ path('compta_compte_utiliser_general') }}" class="btn btn-info">
			    		<span class="glyphicon glyphicon-list-alt"></span> Utiliser le plan comptable général
			    	</a>
		   	    </p>
	  	    {% endif %}
		</div>
	</div>

	{% block javascripts %}
	{{ parent() }}
		<script type="text/javascript">
				<!-- mettre le premier onglet du plan comptable ouvert par défaut -->
				$('#home1').addClass('active');
				$('.wrap-plan-comptable ul li:first-child').addClass('active');
		</script>
	{% endblock %}

{% endblock %}
