{% extends 'admin/admin_layout.html.twig' %}


{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Utilisateurs de {{ company }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      <a href="{{ path('admin_utilisateurs_ajouter') }}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> Ajouter
      </a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table id="table_users_list" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="col-md-2" data-sortable="true" data-searchable="true">Prénom</th>
          <th class="col-md-2" data-sortable="true" data-searchable="true">Nom</th>
          <th class="col-md-2" data-sortable="true" data-searchable="true">Adresse email</th>
          <th class="col-md-1">Activé</th>
          <th class="col-md-2">Accès aux outils</th>
          <th class="col-md-1">Administrateur</th>
          <th class="col-md-1">ID Receipt Bank</th>
          <th class="col-md-1">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in arr_users %}
          <tr>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>
              <input
                class="disable-user"
                type="checkbox" {{ user.enabled ? 'checked' : '' }}
                data-toggle="toggle"
                data-onstyle="success"
                data-offstyle="danger"
                data-on="Oui"
                data-off="Non"
                data-id="{{ user.id }}"
                {{ app.user.id == user.id ? 'disabled' : '' }}
              >
            </td>
            <td>
              <ul class="checklist">
              {% set isAdmin = false %}
              {% for role in user.roles %}
                {% if role == 'ROLE_COMMERCIAL' %}
                  <li>J'aime le commercial</li>
                {% elseif role == 'ROLE_COMPTA' %}
                  <li>J'aime la compta</li>
                {% elseif role == 'ROLE_COMMUNICATION' %}
                  <li>J'aime communiquer</li>
                {% elseif role == 'ROLE_RH' %}
                  <li>J'aime le recrutement</li>
                {% elseif role == 'ROLE_ADMIN' %}
                  {% set isAdmin = true %}
                {% endif %}
              {% endfor %}
              </ul>
            </td>
            <td>
              <input
                class="promote-user"
                type="checkbox" {{ isAdmin ? 'checked' : '' }}
                data-toggle="toggle"
                data-onstyle="success"
                data-offstyle="danger"
                data-on="Oui"
                data-off="Non"
                data-id="{{ user.id }}"
                {{ app.user.id == user.id ? 'disabled' : '' }}
              >
            </td>
            <td>
              {% if user.receiptBankId is not null %}
                {{ user.receiptBankId }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              <a class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12 center">
    <a class="btn" href="{{ path('homepage') }}">
        <span class="glyphicon glyphicon-chevron-left"></span>Retour à l'accueil
    </a>
  </div>
</div>

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready( function () {
			$('#table_users_list').DataTable({
					"language" : {
						"url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/French.json"
					},
					"responsive": true,
          "columnDefs": [
            {
                "targets": [ 4 ],
                "searchable": false,
                "sortable": false
            },
            {
                "targets": [ 5 ],
                "searchable": false,
                "sortable": false
            },
            {
                "targets": [ 6 ],
                "searchable": false,
                "sortable": false
            },
            {
                "targets": [ 7 ],
                "searchable": false,
                "sortable": false
            },
        ]
			});

      $('.disable-user').change(function(e) {
        e.preventDefault();

        var checked = $(this).prop('checked');
        var id = $(this).data('id');
        var url = Routing.generate('user_enable', {'id': id, 'enabled': checked ? '1' : '0'});

        $.post(url, null, null);
      });

      $('.promote-user').change(function(e) {
        e.preventDefault();

        var checked = $(this).prop('checked');
        var id = $(this).data('id');
        var url = Routing.generate('user_promote_admin', {'id': id, 'promote': checked ? '1' : '0'});

        $.post(url, null, null);
      });

		});
	</script>
{% endblock %}
