{{ form_start(form) }}
	<div class="row">
		<div class="col-md-6">
			{{ form_errors(form) }}
			{{ form_row(form.nomCampagne) }}
			{{ form_row(form.objetEmail) }}
		</div>
		<div class="col-md-6">
			{{ form_row(form.nomExpediteur) }}
			{{ form_row(form.emailExpediteur) }}
			
		</div>
	</div>
    <input type="submit" value="Enregistrer" class="btn btn-success" />
    {{ form_end(form) }}
{% block additionalJS %}
	<script type="text/javascript">
		$(document).ready( function () {    
		});
		JqueryValidateFormName = $('form[name="{{ form.vars.id }}"]');
	</script>
	
	<script src="{{ asset('js/error.js') }}"></script>
{% endblock %}

	
