{% extends 'emailing/emailing_layout.html.twig' %}

{% block content %}
	<div class="row">
	    <div class="col-md-12">
	    		<h1>Campagne : {{ campagne.nomCampagne }}</h1>
	    </div>
    </div>

	<div class="row">
		<div class="col-md-12">
			{% for flashMessage in app.session.flashbag.get('success') %}
			    <div class="alert alert-success">
			        {{ flashMessage }}
			    </div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('danger') %}
			    <div class="alert alert-danger">
			        {{ flashMessage }}
			    </div> 
			{% endfor %}
		</div> 
	</div>
	  
{{ form_start(form) }}
	<div class="row">
		<div class="col-md-12">
			{{ form_errors(form) }}
			<div class="row">
				<div class="col-md-12">
					{{ form_row(form.dateEnvoi) }}
					{{ form_row(form.now) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ form_row(form.envoyerMnt) }}
				</div>
			</div>
		</div>
	</div>
    <input type="submit" value="Enregistrer" class="btn btn-success" />
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready( function () {
			$.datetimepicker.setLocale('fr'); 
			$('#{{ form.dateEnvoi.vars.id }}').datetimepicker({
				mask:'39/19/9999 29:59',
				startDate:	new Date(),
				minDate: new Date(),
				value : $('#{{ form.dateEnvoi.vars.id }}').val(),
				step: 30,
				allowTimes:['08:00','08:30','09:00','09:30','10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30','18:00'],
				//maxTime:new Date(1995, 11, 17, 18, 00, 0),
				format:	'd/m/Y H:i',
				formatTime:	'H:i',
				formatDate:	'd/m/Y',
				dayOfWeekStart : 1
			});
			$('#{{ form.envoyerMnt.vars.id }}').click(function(e){
				e.preventDefault();
				$("#SubForm").unbind('click');
				$("#ModalEnvoyerMntConfirmation").modal('show');
			/*	$('#SubForm').click(function(){
					$('#{{ form.now.vars.id }}').val(1);
					$('form[name="{{ form.vars.id }}"]').submit();
				});*/
				
			});
		});
	</script>
{% endblock %}
{% block additionalModals %}
	<div id="ModalEnvoyerMntConfirmation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalEnvoyerMntConfirmation" aria-hidden="true" data-focus-on="input:first">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					 <h3 id="myModalFusionConfirmation">Confirmation requise</h3>

				</div>
				<div class="modal-body">				
					<p>Êtes vous sûr de vouloir envoyer la campagne {{ campagne.nomCampagne }} maintenant ?</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"> </span> Non</button>
					<a href="{{ path('emailing_campagne_tds', {'id' : campagne.id}) }}" class="btn-primary btn" id="SubForm"><span class="glyphicon glyphicon-ok"> </span> Oui</a>
				</div>
			</div>
		</div>
	</div>
<script>
	/* Create a fixed menu on scroll for /voir */
		$(document).ready(function() {
		var positionElementInPage = $('#campagne_details').offset().top;
		$(window).scroll(
			 function() {
			        if ($(window).scrollTop() >= positionElementInPage) {
			            // fixed
			            $('#compte_details').addClass("fixed-top");
			        } else {
			            // relative
			            $('#compte_details').removeClass("fixed-top");
			        }
			    }
		);
		});
</script>

{% endblock %}
