{% extends 'emailing/emailing_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12 bread-crumb-back">
		<a href="{{ path('emailing_campagne_liste') }}" class="small">< Retour à la listes des campagnes</a>
		</div>
	</div>
<div class="row" id="campagne_details">
	    <div class="col-md-6">
	    		<h1 style="float:left;">Statistique de la campagne : {{ campagne.nomCampagne }}</h1>
	    </div>

		<div class="col-md-6">
		    <p class="group-btn">
		    	<a href="{{ path('emailing_campagne_supprimer', {'id' : campagne.id }) }}"  class="btn btn-danger">
		    		<span class="glyphicon glyphicon-trash"></span> Supprimer
		    	</a>
		    </p>
	    </div>
    </div>

	<div class="row">
		<div class="col-md-12">
			{% for flashMessage in app.session.flashbag.get('success') %}
			    <div class="alert alert-success">
			        {{ flashMessage }}
			    </div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('danger') %}
			    <div class="alert alert-danger">
			        {{ flashMessage }}
			    </div>
			{% endfor %}
		</div>
	</div>
		<div class="row" id="statistiques">
	    	<div class="col-md-12">
				<p class="group-btn">
					Taux d'ouverture : {{ (stats.unique.opened.recipient / stats.total.sent * 100)|round(2, 'floor') }} || Taux de clique : {{ (stats.unique.clicked.recipient / stats.total.sent * 100)|round(2, 'floor') }} % || Soft bounce : {{ bounced.temporary }} || Hard bounce : {{ bounced.permanent }} 
				</p>
			</div>
	    	<div class="col-md-12">
				<div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
			</div>
		</div>
	  
{% endblock %}
{% block javascripts %}
	{{ parent() }}
 <script src="{{ asset('bundles/rcamcharts/js/amcharts/amcharts.js') }}"></script>
<script src="{{ asset('bundles/rcamcharts/js/amcharts/serial.js') }}"></script>
<script src="{{ asset('bundles/rcamcharts/js/amcharts/lang/fr.js') }}"></script>
<script type="text/javascript">
   {{ amchart(chart) }}
</script>
{% endblock %}

{% block additionalModals %}
<script>
	/* Create a fixed menu on scroll for /voir */
		$(document).ready(function() {
		var positionElementInPage = $('#campagne_details').offset().top;
		$(window).scroll(
			 function() {
			        if ($(window).scrollTop() >= positionElementInPage) {
			            // fixed
			            $('#compte_details').addClass("fixed-top");
			        } else {
			            // relative
			            $('#compte_details').removeClass("fixed-top");
			        }
			    }
		);
		});
</script>

{% endblock %}
