{% extends 'compta/compta_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Opérations diverses</h1>	
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			{% include 'compta/compte_attente/compta_compte_attente_submenu.html.twig' %}
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>Code journal</th>
						<th>Date</th>
						<th>Compte</th>
						<th>Compte auxiliaire</th>
						<th>Libellé</th>
						<th>Débit</th>
						<th>Crédit</th>
					</tr>
				</thead>
				<tobdy>
					{% for ligneJournal in arr_lignes %}
						<tr>
							<td>{{ ligneJournal.codeJournal }}</td>
							<td>{{ ligneJournal.date|date('j/m/Y') }}</td>
							<td>{{ ligneJournal.compteComptable.num|truncate(3, false, '') }}</td>
							<td>{{ ligneJournal.compteComptable.num }}</td>
							<td>{{ ligneJournal.libelle }}</td>
							<td class="align-right">{{ ligneJournal.debit|number_format(2,',',' ') }}</td>
							<td class="align-right">{{ ligneJournal.credit|number_format(2,',',' ') }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			</table>
		</div>
	</div>
	
{% endblock %}