{% block content %}

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-3">
            {{ form_errors(form) }}
            {{ form_row(form.compteBancaire) }}
            {{ form_row(form.date) }}
        </div>
        <div class="col-md-9"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Chèques :</h4>
            <ul class="produits" id="collectionContainer" data-prototype="
		 {% filter escape %}
		    	{{ include('compta/cheque/compta_cheque_form.html.twig', { 'form':  form.cheques.vars.prototype }) }}
	     {% endfilter %}">
                {% for chequeField in form.cheques %}
                    <li id="{{ chequeField.vars.value.id }}">
                        {{ include('compta/cheque/compta_cheque_form.html.twig', { 'form': chequeField }) }}
                    </li>
                {% endfor %}
            </ul>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 align-center">
            <strong>Nombre de chèques :</strong>
            <span id="nb_cheques">1</span>
        </div>
        <div class="col-md-6" id="remise-cheque-total-wrapper">
            {{ form_row(form.total) }}
            <hr/>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <!-- Dropdown with multiple selections : https://github.com/ehynds/jquery-ui-multiselect-widget -->
    <script src="{{ asset('lib/jquery-ui-multiselect-widget/src/jquery.multiselect.js') }}"></script>
    <script src="{{ asset('lib/jquery-ui-multiselect-widget/src/jquery.multiselect.filter.js') }}"></script>
    <script src="{{ asset('lib/jquery-ui-multiselect-widget/i18n/jquery.multiselect.fr.js') }}"></script>

    <script type="text/javascript">
        $(function() {

						var $addLink = $('<a href="#" class="add_produit_link btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"</a>');
						var $newLinkLi = $('<li></li>').append($addLink);
            var collectionHolder = $('ul.produits');
            collectionHolder.append($newLinkLi);
            indexNewCollection = collectionHolder.children().length;

						{% if remiseCheque is not defined %}
							addProduitForm(collectionHolder, $newLinkLi, false);
						{% else %}

							{% for cheque in remiseCheque.cheques %}
									var val = [];
									var id = "#{{ cheque.id }}";
									{% for piece in cheque.pieces %}
											{% if piece.facture %}
													val.push("F" + {{ piece.facture.id }});
											{% elseif piece.avoir %}
													val.push("A" + {{ piece.avoir.id }});
											{% endif %}
									{% endfor %}
									$(id).find('.select-piece').val(val);
									updateMontant($(id).find('.select-piece').attr('id'));
							{% endfor %}

						{% endif %}

            init();

            function init() {
                $(".select-piece").multiselect({
                    click: function(event, ui) {
                        onClick(ui);
                    }
                });

                $('.remove-button').unbind('click');
                $('.remove-button').on('click', function(e) {
                    e.preventDefault();
                    $(this).parents('li').remove();
                    $('#nb_cheques').text(collectionHolder.children().length - 1);
                    updateTotal();
                });

                $('.select-piece').unbind('change');
                $('.select-piece').change(function() {
                    updateMontant($(this).attr('id'));
                });

                $('.input-montant').unbind('change');
                $('.input-montant').change(function() {
                    montantChanged($(this));
                });

                $('#nb_cheques').text(collectionHolder.children().length - 1);

            }

            function onClick(ui) {
                var id = ui.value;
                updateMontant(id);
            }

            $addLink.on('click', function(e) {
                e.preventDefault();
                addProduitForm(collectionHolder, $newLinkLi, true);
            });

            function addProduitForm(collectionHolder, $newLinkLi, ExecTinymceCommand) {
                var prototype = collectionHolder.attr('data-prototype');
                indexNewCollection++;
                var newForm = prototype.replace(/__name__/g, indexNewCollection);

                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
                if (ExecTinymceCommand)
                    tinyMCE.execCommand("mceAddControl", false, $($newFormLi).find('textarea').attr("id"));

                init();

            }

            /**
					 * Met à jour le montant total du cheque
					 **/
            function updateMontant(id) {

                if ($.inArray('AUTRE', $('#' + id).val()) !== -1) {
                    $('#' + id).parents('td').next().find('.input-montant').attr('readonly', false);
                    $('#' + id).parents('td').next().find('.input-montant').val('');
                } else {
                    var total = 0;
                    $.each($('#' + id + ' option:selected'), function(index, value) {
                        var text = $(this).text();
                        var arr = text.split('-');
                        var montant = arr[arr.length - 1];
                        montant = montant.replace(' ', '');
                        montant = montant.replace('€', '');
                        montant = +montant;
                        total += montant;
                    });
                    $("#" + id).parent().next().children('.input-montant').val(total.toFixed(2)); //toFixed used to correct the result given when adding two floating point variables - see http://stackoverflow.com/questions/588004/is-floating-point-math-broken
                    updateTotal();
                }

            };

            /**
					 * Met à jour le montant total de la remise de chèques (totaux de tous les chèques)
					 **/
            function updateTotal() {
                var total = 0;
                $.each($('.input-montant'), function(index, value) {
                    var montant = $(this).val();
                    montant = +montant;
                    total += montant;
                });

                $('.remise-cheque-total-input').val(total.toFixed(2)); //toFixed used to correct the result given when adding two floating point variables - see http://stackoverflow.com/questions/588004/is-floating-point-math-broken
            }

            /**
					* Remplace la virgule par un point dans le champ montant
					**/
            function montantChanged(element) {
                var montant = $(element).val();
                var montant = montant.replace(",", ".");
                $(element).val(montant);
                updateTotal();
            }
        });
    </script>
{% endblock %}
