{% extends 'ndf/ndf_layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('lib/dropzone/dropzone.css') }}" type="text/css"  />
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Uploader des reçus</h1>
		</div>
	</div>

  <div class="row">
		<div class="col-md-12">
			{% include 'ndf/ndf_submenu.html.twig' %}
		</div>
	</div>

  <div class="row">
		<div class="col-md-12">

			<div class="well">
				<form id="upload-widget" method="post" action=" {{ path('ndf_recu_upload') }}" class="dropzone">
				{{ form_widget(form) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('lib/dropzone/dropzone.js') }}"></script>
	<script type="text/javascript">
		Dropzone.options.uploadWidget = {
			dictDefaultMessage: '<p class="draganddrop-message">Déposez vos reçus ici</p><p><span class="btn btn-primary">ou sélectionnez les fichiers</span></p>',
			dictInvalidFileType: "Ce format de fichier n'est pas accepté",
			acceptedFiles: 'image/*,application/pdf,.doc,.html',
		};


	</script>


{% endblock %}
