{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

<div class="row" id="crm_index">

	<div class="col-md-12 text-accueil-outil">
		<div class="page-head">
			<h1>{{ random(['Le commercial, c\'est génial !']) }}</h1>
			<p class="l">Que voulez-vous faire aujourd'hui ?</p>
		</div>
	</div>
	
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<div class="center crm-homepage-block well">
			<p>
				<span class="glyphicon glyphicon-search xl"></span>
			</p>
			<p>Je cherche les coordonnées de quelqu'un</p>
			<input type="text" placeholder="Nom" id="contact-search-input" />
			<p class="spacer-top">
				<a class="btn btn-info" id="contact-search-button">
					Rechercher un contact
				</a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="center crm-homepage-block well">
			<p>
				<span class="glyphicon glyphicon-user xl"></span>
			</p>
			<p>J'ai rencontré une nouvelle personne</p>
			<p>
				<a class="btn btn-info" href="{{ path('crm_contact_ajouter') }}">
					Ajouter un contact
				</a>
			</p>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="center crm-homepage-block well">
			<p>
				<span class="glyphicon glyphicon-screenshot xl"></span>
			</p>
			<p>J'ai fait un rendez-vous commercial</p>
			<p>
				<a class="btn btn-info" href="{{ path('crm_opportunite_ajouter') }}">
					Créer une opportunité
				</a>
			</p>
		</div>
	</div>

	<div class="col-md-4">
		<div class="center crm-homepage-block well">
			<p>
				<span class="glyphicon glyphicon-euro xl"></span>
			</p>
			<p>On m'a demandé un devis</p>
			<p>
				<a class="btn btn-info" href="{{ path('crm_devis_ajouter') }}">
					Créer un devis
				</a>
			</p>
		</div>
	</div>

	<div class="col-md-4">
		<div class="center crm-homepage-block well">
			<p>
				<span class="glyphicon glyphicon-piggy-bank xl"></span>
			</p>
			<p>J'ai terminé une mission</p>
			<p>
				<a class="btn btn-info" href="{{ path('crm_facture_ajouter') }}">
					Créer une facture
				</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready( function () {    

			$("#contact-search-button").click(function(){
				searchContact();
			});

			$("#contact-search-input").keypress(function(e) {
			    if(e.which == 13) {
			        searchContact();
			    }
			});

			function searchContact(){
				var searchedValue = $("#contact-search-input").val();
				var url = Routing.generate('crm_contact_liste_search', {'search' : searchedValue } );

				window.location= url;
			}

		});
	</script
{% endblock %}