<div class="produit-collection">
	<hr />
	<table>
		<thead>
				<th class="produit-input-type">{{ form_label(form.type) }}</td>
				<th class="produit-input-nom">{{ form_label(form.nom) }}</td>
				<th class="produit-input-number">{{ form_label(form.tarifUnitaire) }}</td>
				<th class="produit-input-number">{{ form_label(form.quantite) }}</td>
				<th class="produit-input-number">{{ form_label(form.montant) }}</td>
				<th class="produit-input-number">{{ form_label(form.remise) }}</td>
				<th class="produit-input-number">{{ form_label(form.total) }}</td>
				<th class="produit-input-button">&nbsp;</td>
		</thead>
		<tbody>
			<tr>
				<td class="produit-input-type">{{ form_widget(form.type) }}</td>
				<td class="produit-input-nom">{{ form_widget(form.nom) }}</td>
				<td class="produit-input-number">{{ form_widget(form.tarifUnitaire) }}</td>
				<td class="produit-input-number">{{ form_widget(form.quantite) }}</td>
				<td class="produit-input-number">{{ form_widget(form.montant) }}</td>
				<td class="produit-input-number">{{ form_widget(form.remise) }}</td>
				<td class="produit-input-number">{{ form_widget(form.total) }}</td>
				<td class="produit-input-button"><a href="#" class="btn btn-xs btn-danger remove-button"><span class="glyphicon glyphicon-minus"></span></a></td>
			</tr>
			<tr>
				<td colspan="2" class="produit-textarea">
					{{ form_row(form.description) }}
				</td>
			</tr>
		</tbody>
	</table>
</div>
