<tr>
	<td class="produit-input-nom">{{ ligne.nom }}</td>
	<td class="produit-input-type">{{ ligne.compteComptable }}</td>
	<td class="produit-input-number">{{ ligne.montant }}</td>
	<td class="produit-input-number">{{ ligne.taxe }}</td>
	<td class="produit-input-number">{{ ligne.taxe+ligne.montant }}</td>
</tr>
