<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>Envoyer un avoir par email</h3>
</div>
<div class="modal-body">

	<div class="center">
		<p>L'avoir <strong>"{{ avoir.num}}"</strong> sur la facture <strong>{{ avoir.facture.num }}</strong> sera envoyé à <strong>{{ avoir.facture.contact }}</strong> ({{ avoir.facture.contact.email }}).</p>
		{{ form(form, {'action': path('compta_avoir_envoyer', {'id' : avoir.id })} ) }}
		<p id="loading-message" class="hidden">
		<i>Votre message est en cours d'envoi. Pour patienter, voici un petit chat qui danse :</i><br />
		<img src="{{ asset('images/assets/cat_loader.gif') }}" alt="Patientez..." />
	</p>
	</div>
</div>

<script>
    tinymce.init({
    selector: '.tinymce',
    theme : "simple",
    content_css : "{{ asset('css/tinymce_content.css') }}",
 });
</script>

<script type="text/javascript">
$(document).ready( function () {    
	$('form').submit(function(){
		$('input').attr('readonly', true);
		$('textarea').attr('readonly', true);
		$('#form_submit').addClass("hidden");
		$("#loading-message").removeClass("hidden");
	});
});
</script>